<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin-layout}">

<div class="main-content" layout:fragment="content">
    <script th:inline="javascript">
        var paramArr = [[${param.productId}]],
            productId = paramArr[0];

        var adminProductDetailObj = {

            saleStartDt : "",
            saleEndDt : "",
            productObj : {},

            getProductDetail    : function (productId) {
                $.ajax({
                    type : "GET",
                    url  : "/admin/products/" + productId,
                    contentType : "application/json",
                    beforeSend	: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success : function(data) {
                        adminProductDetailObj.saleStartDt = data.disStartDt;
                        adminProductDetailObj.saleEndDt = data.disEndDt;

                        $("input[name='product-name']").val(data.productNm);
                        $("input[name='product-price']").val(data.price);

                        $("input[type='radio']").removeAttr("checked");

                        if (data.disPrice === 0) {
                            $("input[value='N']").prop("checked", true);
                        } else {
                            $("input[value='Y']").prop("checked", true);
                        }

                        if ($("input[type='radio']:checked").val() === "Y") {
                            $("#discount-date").show();
                            $("#discount-percent").show();
                            $("#discount-percent-input").val(data.disPrice);
                        } else {
                            $("#discount-date").hide();
                            $("#discount-percent").hide();
                        }


                        $("#dpStrtDt").val(data.disStartDt);
                        $("#dpEndDt").val(data.disEndDt);

                        $("#first-category-select-box").val(data.largeCatCd).prop("selected", true);
                        $("#second-category-select-box").val(data.smallCatCd).prop("selected", true);

                        $("#second-category-select-box option").each(function () {
                            if (data.largeCatCd !== $(this).data("upperCatcd"))
                                $(this).remove();
                        })

                        $("input[name='product-total-count']").val(data.totalCount);


                        adminProductDetailObj.productObj.productNm  = $("input[name='product-name']").val();
                        adminProductDetailObj.productObj.price      = $("input[name='product-price']").val();
                        adminProductDetailObj.productObj.largeCatCd = $("#first-category-select-box").val();
                        adminProductDetailObj.productObj.smallCatCd = $("#second-category-select-box").val();
                        adminProductDetailObj.productObj.totalCount = $("input[name='product-total-count']").val();
                    },
                    error   : function (e) {
                        alert(e.responseText);
                    }
                })
            },
            updateProductDetail : function () {
                var productObj = {},
                    originalProductObj = adminProductDetailObj.productObj;

                var productNm = $("input[name='product-name']").val(),
                    price     = $("input[name='product-price']").val(),
                    largeCatCd = $("#first-category-select-box").val(),
                    smallCatCd = $("#second-category-select-box").val(),
                    totalCount = $("input[name='product-total-count']").val();

                if (productNm === "" || price === "" || largeCatCd === "" || smallCatCd === "") {
                    alert("비어있는 곳이 있습니다.");
                    return;
                }

                if (productNm === originalProductObj.productNm && price === originalProductObj.price
                        && largeCatCd === originalProductObj.largeCatCd && smallCatCd === originalProductObj.smallCatCd
                        && totalCount === originalProductObj.totalCount) {
                    alert("변경된 곳이 없습니다.");
                    return;
                }

                productObj.productNm = productNm;
                productObj.price = price;
                productObj.largeCatCd = largeCatCd;
                productObj.smallCatCd = smallCatCd;
                productObj.totalCount = totalCount;

                $.ajax({
                    type : "PUT",
                    url  : "/products/" + productId,
                    contentType : "application/json",
                    data : JSON.stringify(productObj),
                    beforeSend  : function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success : function (data) {
                        alert(data);

                        location.reload();
                    },
                    error   : function (e) {
                        alert(e.responseText);
                    }
                })
            }
        }

        var eventCbObj   = {

            selectBoxCbFn   : function() {
                var firstCatCd = $(this).val();

                $("#second-category-select-box option").remove();

                $.ajax({
                    type : "GET",
                    url : "/categories/first/" + firstCatCd + "/second",
                    contentType : "application/json",
                    beforeSend	: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success : function(data) {
                        if (data.length > 0) {
                            $.each(data, function(i, item) {
                                var option = "<option value=" + item.catCd + ">" +
                                    item.catNm + "</option>"

                                $("#second-category-select-box").append(option);
                            })
                        } else {
                            $("#second-category-select-box").append("<option value=''>없음</option>");
                        }
                    },
                    error   : function (e) {
                        alert(e.responseText);
                    }
                })
            },
            saleRadioBtnCbFn    : function () {
                var saleYn = $(this).val();

                if (saleYn === "Y") {
                    $("#discount-date").show();
                    $("#discount-percent").show();
                } else {
                    $("#discount-date").hide();
                    $("#discount-percent").hide();
                }
            },
            saleSettingBtnCbFn  : function () {
                location.href = "/adminSalePriceList?productId=" + $(this).data("id");
            }
        }

        $(function () {
            var paramArr = [[${param.productId}]],
                productId = paramArr[0],
                $discountSettingBtn = $("#discount-setting-btn");

            adminProductDetailObj.getProductDetail(productId);

            $("#first-category-select-box").change(eventCbObj.selectBoxCbFn);
            $("input[type='radio']").change(eventCbObj.saleRadioBtnCbFn);

            $discountSettingBtn.attr("data-id", productId);
            $discountSettingBtn.on("click", eventCbObj.saleSettingBtnCbFn);
        })
    </script>

    <div class="title-area">
        <h3>상품 상세</h3>
    </div>

    <div id="LAYER_Frame">
        <div id="ContentsArea">
            <div class="con-area">
                <ul id="PointTxt">
                    <li>* 표시된 부분은 필수 입력사항입니다.</li>
                </ul>
                <fieldset>
                    <legend>LAYER_상품등록</legend>
                    <div class="con-table">
                        <form id="menuRegistForm">
                            <table summary="LAYER_메뉴등록">
                                <caption>LAYER_상품등록</caption>
                                <colgroup>
                                    <col width="200" />
                                    <col />
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th scope="col" class="bor_top_style1">*상품명 <span class="point" title="상품명" /></th>
                                    <td class="bor_top_style1">
                                        <input type="text" id="product-name" name="product-name" class="input_txt" style="width:1000px;" placeholder="" title="상품명" maxlength="500"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col" class="bor_top_style1">*상품가격 <span class="point" title="상품가격" /></th>
                                    <td class="bor_top_style1">
                                        <input type="text" id="product-price" name="product-price" class="input_txt" style="width:180px;" placeholder="" title="상품가격" maxlength="50"/>원
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col" class="bor_top_style1">*현재 할인여부 <span class="point" title="할인여부" /></th>
                                    <td class="bor_top_style1">
                                        <input type="radio" id="saleYn" name="saleYn" class="input_radio" title="YES" value="Y" disabled="disabled"/> YES &nbsp;&nbsp;
                                        <input type="radio" id="saleYn" name="saleYn" class="input_radio" title="NO"  value="N" disabled="disabled"/> NO
                                        <button id="discount-setting-btn" type="button">할인 설정하기</button>
                                    </td>
                                </tr>
                                <tr id="discount-date" hidden="hidden">
                                    <th scope="col" class="bor_top_style1">*현재 할인 적용 기간 <span class="point" title="할인여부" /></th>
                                    <td class="bor_top_style1">
                                        <div class="cal-wrap">
                                            <input type="text" name="dpStrtDt" id="dpStrtDt" class="ui-ipt"
                                                   data-date="start" readonly>
                                            <button type="button" class="btn-cal" disabled>
                                                시작
                                            </button>
                                        </div>
                                        <div class="cal-wrap">
                                            <input type="text" name="dpEndDt" id="dpEndDt" class="ui-ipt" data-date="end"
                                                   readonly>
                                            <button type="button" class="btn-cal" disabled>
                                                종료
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr id="discount-percent" hidden="hidden">
                                    <th scope="col" class="bor_top_style1">*할인(%) <span class="point" title="할인(%)" /></th>
                                    <td class="bor_top_style1">
                                        <input id="discount-percent-input" type="text" disabled>%
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col" class="bor_top_style1">*1차 카테고리 <span class="point" title="1차 카테고리" /></th>
                                    <td class="bor_top_style1">
                                        <select name="" id="first-category-select-box" class="input_select" title="1차 카테고리">
                                            <th:block th:if="${#lists.size(catList_L)} > 0" th:each="catList_L : ${catMapList.get('adminCatList')}">
                                                <th:block th:if="${catList_L.getCatLv() eq 1}">
                                                    <option th:data-id="${catList_L.getId()}" th:value="${catList_L.getCatCd()}" th:text="${catList_L.getCatNm()}"></option>
                                                </th:block>
                                            </th:block>
                                        </select>&nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col" class="bor_top_style1">*2차 카테고리 <span class="point" title="2차 카테고리" /></th>
                                    <td class="bor_top_style1">
                                        <select name="" id="second-category-select-box" class="input_select" title="2차 카테고리">
                                            <th:block th:if="${#lists.size(catList_S)} > 0" th:each="catList_S : ${catMapList.get('adminCatList')}">
                                                <th:block th:if="${catList_S.getCatLv() eq 2}">
                                                    <option th:data-id="${catList_S.getId()}" th:data-upper-catcd="${catList_S.getUpprCatCd()}" th:value="${catList_S.getCatCd()}" th:text="${catList_S.getCatNm()}"></option>
                                                </th:block>
                                            </th:block>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col" class="bor_top_style1">*재고 <span class="point" title="재고" /></th>
                                    <td class="bor_top_style1">
                                        <input type="text" id="product-total-count" name="product-total-count" class="input_txt" style="width:180px;" placeholder="" title="재고" maxlength="50"/>개
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </fieldset>
            </div>
            <!--버튼_start-->
            <div class="txt-center pdt_25">
                <a href="javascript:void(0);" class="btn-wine-14" onclick="adminProductDetailObj.updateProductDetail()">수정</a>
                <a href="/adminProduct" class="btn-gray-14">이전으로</a>
            </div>
            <!--버튼_end-->
            <hr />
        </div>
    </div>
</div>
</html>