<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}">

<div class="main-content" layout:fragment="content">
    <!-- Section: home -->
    <section id="home">
        <div class="container-fluid p-0">

            <!-- Slider Revolution Start -->
            <div class="rev_slider_wrapper">
                <div class="rev_slider" data-version="5.0">
                    <ul>

                        <!-- SLIDE 1 -->
                        <li data-index="rs-1" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="http://placehold.it/1920x1080" data-rotate="0" data-saveperformance="off" data-title="Slide 1" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="http://placehold.it/1920x1080"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                            <!-- LAYERS -->

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-resizeme text-uppercase text-black-222 font-raleway"
                                 id="rs-1-layer-1"

                                 data-x="['left']"
                                 data-hoffset="['30']"
                                 data-y="['middle']"
                                 data-voffset="['-90']"
                                 data-fontsize="['48']"
                                 data-lineheight="['110']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 7; white-space: nowrap; font-weight:700;"><span class="text-theme-colored">40% </span>off
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption tp-resizeme text-uppercase text-black-222"
                                 id="rs-1-layer-2"

                                 data-x="['left']"
                                 data-hoffset="['35']"
                                 data-y="['middle']"
                                 data-voffset="['-30']"
                                 data-fontsize="['64']"
                                 data-lineheight="['94']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 7; white-space: nowrap; font-weight:600;">Winter <span class="text-theme-colored">Collection</span>
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption tp-resizeme text-black-222"
                                 id="rs-1-layer-3"

                                 data-x="['left']"
                                 data-hoffset="['35']"
                                 data-y="['middle']"
                                 data-voffset="['35']"
                                 data-fontsize="['16']"
                                 data-lineheight="['28']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1400"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">We provides always our best services for our clients and  always<br> try to achieve our client's trust and satisfaction.
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption tp-resizeme"
                                 id="rs-1-layer-4"

                                 data-x="['left']"
                                 data-hoffset="['35']"
                                 data-y="['middle']"
                                 data-voffset="['100']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1400"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; letter-spacing:1px;"><a class="btn btn-colored btn-lg btn-flat btn-theme-colored pl-20 pr-20" href="#">Purchase Now</a>
                            </div>
                        </li>

                        <!-- SLIDE 2 -->
                        <li data-index="rs-2" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="http://placehold.it/1920x1080" data-rotate="0" data-saveperformance="off" data-title="Slide 2" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="http://placehold.it/1920x1080"  alt=""  data-bgposition="center 40%" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                            <!-- LAYERS -->

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-resizeme text-uppercase  bg-dark-transparent-4 text-white font-raleway pl-30 pr-30"
                                 id="rs-2-layer-1"

                                 data-x="['center']"
                                 data-hoffset="['0']"
                                 data-y="['middle']"
                                 data-voffset="['-90']"
                                 data-fontsize="['28']"
                                 data-lineheight="['54']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 7; white-space: nowrap; font-weight:400; border-radius: 30px;">We always provide you
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption tp-resizeme text-uppercase bg-theme-colored-transparent text-white font-raleway pl-30 pr-30"
                                 id="rs-2-layer-2"

                                 data-x="['center']"
                                 data-hoffset="['0']"
                                 data-y="['middle']"
                                 data-voffset="['-20']"
                                 data-fontsize="['48']"
                                 data-lineheight="['70']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 7; white-space: nowrap; font-weight:700; border-radius: 30px;">New Product Collection
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption tp-resizeme text-center text-black-222"
                                 id="rs-2-layer-3"

                                 data-x="['center']"
                                 data-hoffset="['0']"
                                 data-y="['middle']"
                                 data-voffset="['50']"
                                 data-fontsize="['16']"
                                 data-lineheight="['28']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1400"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">We provides always our best services for our clients and  always<br> try to achieve our client's trust and satisfaction.
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption tp-resizeme"
                                 id="rs-2-layer-4"

                                 data-x="['center']"
                                 data-hoffset="['0']"
                                 data-y="['middle']"
                                 data-voffset="['115']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1400"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; letter-spacing:1px;"><a class="btn btn-theme-colored btn-circled pl-20 pr-20" href="#">Purchase Now</a>
                            </div>
                        </li>

                        <!-- SLIDE 3 -->
                        <li data-index="rs-3" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="http://placehold.it/1920x1080" data-rotate="0" data-saveperformance="off" data-title="Slide 3" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="http://placehold.it/1920x1080"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                            <!-- LAYERS -->

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-resizeme text-uppercase text-black-222 font-raleway"
                                 id="rs-3-layer-1"

                                 data-x="['right']"
                                 data-hoffset="['30']"
                                 data-y="['middle']"
                                 data-voffset="['-90']"
                                 data-fontsize="['48']"
                                 data-lineheight="['110']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 7; white-space: nowrap; font-weight:700;"><span class="text-theme-colored">20% </span>off
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption tp-resizeme text-uppercase text-black-222"
                                 id="rs-3-layer-2"

                                 data-x="['right']"
                                 data-hoffset="['35']"
                                 data-y="['middle']"
                                 data-voffset="['-30']"
                                 data-fontsize="['64']"
                                 data-lineheight="['94']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 7; white-space: nowrap; font-weight:600;">New Collection
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption tp-resizeme text-right text-black-222"
                                 id="rs-3-layer-3"

                                 data-x="['right']"
                                 data-hoffset="['35']"
                                 data-y="['middle']"
                                 data-voffset="['35']"
                                 data-fontsize="['16']"
                                 data-lineheight="['28']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1400"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">We provides always our best services for our clients and  always<br> try to achieve our client's trust and satisfaction.
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption tp-resizeme"
                                 id="rs-3-layer-4"

                                 data-x="['right']"
                                 data-hoffset="['35']"
                                 data-y="['middle']"
                                 data-voffset="['100']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1400"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; letter-spacing:1px;"><a class="btn btn-colored btn-lg btn-flat btn-theme-colored pl-20 pr-20" href="#">Purchase Now</a>
                            </div>
                        </li>

                    </ul>
                </div>
                <!-- end .rev_slider -->
            </div>
            <!-- end .rev_slider_wrapper -->
            <script>
                $(document).ready(function(e) {
                    $(".rev_slider").revolution({
                        sliderType:"standard",
                        sliderLayout: "auto",
                        dottedOverlay: "none",
                        delay: 5000,
                        navigation: {
                            keyboardNavigation: "off",
                            keyboard_direction: "horizontal",
                            mouseScrollNavigation: "off",
                            onHoverStop: "off",
                            touch: {
                                touchenabled: "on",
                                swipe_threshold: 75,
                                swipe_min_touches: 1,
                                swipe_direction: "horizontal",
                                drag_block_vertical: false
                            },
                            arrows: {
                                style:"zeus",
                                enable:true,
                                hide_onmobile:true,
                                hide_under:600,
                                hide_onleave:true,
                                hide_delay:200,
                                hide_delay_mobile:1200,
                                tmp:'<div class="tp-title-wrap">    <div class="tp-arr-imgholder"></div> </div>',
                                left: {
                                    h_align:"left",
                                    v_align:"center",
                                    h_offset:30,
                                    v_offset:0
                                },
                                right: {
                                    h_align:"right",
                                    v_align:"center",
                                    h_offset:30,
                                    v_offset:0
                                }
                            },
                            bullets: {
                                enable:true,
                                hide_onmobile:true,
                                hide_under:600,
                                style:"metis",
                                hide_onleave:true,
                                hide_delay:200,
                                hide_delay_mobile:1200,
                                direction:"horizontal",
                                h_align:"center",
                                v_align:"bottom",
                                h_offset:0,
                                v_offset:30,
                                space:5,
                                tmp:'<span class="tp-bullet-img-wrap">  <span class="tp-bullet-image"></span></span><span class="tp-bullet-title">{{title}}</span>'
                            }
                        },
                        responsiveLevels: [1240, 1024, 778],
                        visibilityLevels: [1240, 1024, 778],
                        gridwidth: [1170, 1024, 778, 480],
                        gridheight: [650, 768, 960, 720],
                        lazyType: "none",
                        parallax: {
                            origo: "slidercenter",
                            speed: 1000,
                            levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 100, 55],
                            type: "scroll"
                        },
                        shadow: 0,
                        spinner: "off",
                        stopLoop: "on",
                        stopAfterLoops: 0,
                        stopAtSlide: -1,
                        shuffle: "off",
                        autoHeight: "off",
                        fullScreenAutoWidth: "off",
                        fullScreenAlignForce: "off",
                        fullScreenOffsetContainer: "",
                        fullScreenOffset: "0",
                        hideThumbsOnMobile: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            nextSlideOnWindowFocus: "off",
                            disableFocusListener: false,
                        }
                    });
                });
            </script>
            <!-- Slider Revolution Ends -->

        </div>
    </section>

    <section>
        <div id="newcollection" class="container pb-0">
            <div class="section-title text-center mb-30">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="mt-0 mb-5">New Collection</h2>
                        <p class="font-16 mt-0">See what new products are available in online shop</p>
                    </div>
                </div>
            </div>
            <div class="row multi-row-clearfix">
                <div class="col-md-12">
                    <div class="products">
                        <div class="col-sm-6 col-md-4 col-lg-3 mb-30">
                            <div class="product">
                                <span class="tag-sale">Sale!</span>
                                <div class="product-thumb">
                                    <img alt="" src="http://placehold.it/320x360" class="img-responsive img-fullwidth">
                                    <div class="overlay">
                                        <div class="btn-add-to-cart-wrapper">
                                            <a class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="shop-cart.html" target="_blank">Add To Cart</a>
                                        </div>
                                        <div class="btn-product-view-details">
                                            <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="shop-product-details.html" target="_blank">View detail</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-details text-center">
                                    <a href="#"><h5 class="product-title">Shirt</h5></a>
                                    <div class="star-rating" title="Rated 3.50 out of 5"><span style="width: 67%;">3.50</span></div>
                                    <div class="price"><del><span class="amount">$110.00</span></del><ins><span class="amount">$90.00</span></ins></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 mb-30">
                            <div class="product">
                                <div class="product-thumb">
                                    <img alt="" src="http://placehold.it/320x360" class="img-responsive img-fullwidth">
                                    <div class="overlay">
                                        <div class="btn-add-to-cart-wrapper">
                                            <a class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="shop-cart.html" target="_blank">Add To Cart</a>
                                        </div>
                                        <div class="btn-product-view-details">
                                            <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="shop-product-details.html" target="_blank">View detail</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-details text-center">
                                    <a href="#"><h5 class="product-title">T-Shirt</h5></a>
                                    <div class="star-rating" title="Rated 5.00 out of 5"><span style="width: 100%;">5.00</span></div>
                                    <div class="price"><ins><span class="amount">$480.00</span></ins></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 mb-30">
                            <div class="product">
                                <span class="tag-sale">Sale!</span>
                                <div class="product-thumb">
                                    <img alt="" src="http://placehold.it/320x360" class="img-responsive img-fullwidth">
                                    <div class="overlay">
                                        <div class="btn-add-to-cart-wrapper">
                                            <a class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="shop-cart.html" target="_blank">Add To Cart</a>
                                        </div>
                                        <div class="btn-product-view-details">
                                            <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="shop-product-details.html" target="_blank">View detail</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-details text-center">
                                    <a href="#"><h5 class="product-title">White T-Shirt</h5></a>
                                    <div class="star-rating" title="Rated 3.50 out of 5"><span style="width: 60%;">3.50</span></div>
                                    <div class="price"><del><span class="amount">$70.00</span></del><ins><span class="amount">$55.00</span></ins></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 mb-30">
                            <div class="product">
                                <div class="product-thumb">
                                    <img alt="" src="http://placehold.it/320x360" class="img-responsive img-fullwidth">
                                    <div class="overlay">
                                        <div class="btn-add-to-cart-wrapper">
                                            <a class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="shop-cart.html" target="_blank">Add To Cart</a>
                                        </div>
                                        <div class="btn-product-view-details">
                                            <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="shop-product-details.html" target="_blank">View detail</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-details text-center">
                                    <a href="#"><h5 class="product-title">Blue-Shirt</h5></a>
                                    <div class="star-rating" title="Rated 3.50 out of 5"><span style="width: 75%;">3.50</span></div>
                                    <div class="price"><ins><span class="amount">$185.00</span></ins></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 mb-30">
                            <div class="product">
                                <span class="tag-sale">Sale!</span>
                                <div class="product-thumb">
                                    <img alt="" src="http://placehold.it/320x360" class="img-responsive img-fullwidth">
                                    <div class="overlay">
                                        <div class="btn-add-to-cart-wrapper">
                                            <a class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="shop-cart.html" target="_blank">Add To Cart</a>
                                        </div>
                                        <div class="btn-product-view-details">
                                            <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="shop-product-details.html" target="_blank">View detail</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-details text-center">
                                    <a href="#"><h5 class="product-title">Blue-Jeans</h5></a>
                                    <div class="star-rating" title="Rated 3.50 out of 5"><span style="width: 40%;">3.50</span></div>
                                    <div class="price"><del><span class="amount">$220.00</span></del><ins><span class="amount">$210.00</span></ins></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 mb-30">
                            <div class="product">
                                <span class="tag-sale">Sale!</span>
                                <div class="product-thumb">
                                    <img alt="" src="http://placehold.it/320x360" class="img-responsive img-fullwidth">
                                    <div class="overlay">
                                        <div class="btn-add-to-cart-wrapper">
                                            <a class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="shop-cart.html" target="_blank">Add To Cart</a>
                                        </div>
                                        <div class="btn-product-view-details">
                                            <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="shop-product-details.html" target="_blank">View detail</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-details text-center">
                                    <a href="#"><h5 class="product-title">Faid-Jeans</h5></a>
                                    <div class="star-rating" title="Rated 3.50 out of 5"><span style="width: 80%;">3.50</span></div>
                                    <div class="price"><del><span class="amount">$165.00</span></del><ins><span class="amount">$160.00</span></ins></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 mb-30">
                            <div class="product">
                                <span class="tag-sale">Sale!</span>
                                <div class="product-thumb">
                                    <img alt="" src="http://placehold.it/320x360" class="img-responsive img-fullwidth">
                                    <div class="overlay">
                                        <div class="btn-add-to-cart-wrapper">
                                            <a class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="shop-cart.html" target="_blank">Add To Cart</a>
                                        </div>
                                        <div class="btn-product-view-details">
                                            <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="shop-product-details.html" target="_blank">View detail</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-details text-center">
                                    <a href="#"><h5 class="product-title">Bd-Jeans</h5></a>
                                    <div class="star-rating" title="Rated 3.50 out of 5"><span style="width: 32%;">3.50</span></div>
                                    <div class="price"><del><span class="amount">$120.00</span></del><ins><span class="amount">$110.00</span></ins></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 mb-30">
                            <div class="product">
                                <div class="product-thumb">
                                    <img alt="" src="http://placehold.it/320x360" class="img-responsive img-fullwidth">
                                    <div class="overlay">
                                        <div class="btn-add-to-cart-wrapper">
                                            <a class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="shop-cart.html" target="_blank">Add To Cart</a>
                                        </div>
                                        <div class="btn-product-view-details">
                                            <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="shop-product-details.html" target="_blank">View detail</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-details text-center">
                                    <a href="#"><h5 class="product-title">gabadin-Jeans</h5></a>
                                    <div class="star-rating" title="Rated 3.50 out of 5"><span style="width: 85%;">3.50</span></div>
                                    <div class="price"><ins><span class="amount">$240.00</span></ins></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="divider bg-light">
        <div class="container pt-40 pb-40">
            <div class="row">
                <div class="">
                    <div class="col-md-5 text-center">
                        <img alt="" src="http://placehold.it/400x350">
                    </div>
                    <div class="col-md-7 text-left">
                        <h4 class="mt-50 text-theme-colored mb-0">Big discount!</h4>
                        <h1 class="mt-0">New Trendy Products</h1>
                        <h4 class="mt-10">Up to 21% off on all products!</h4>
                        <a href="#" class="btn btn-theme-colored btn-circled mt-20">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Shop  -->
    <section id="shop">
        <div id="best" class="container pb-30">
            <div class="section-title text-center mb-30">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="mt-0 mb-5">Best Selling Products</h2>
                        <h4>See our all time best products in online store</h4>
                    </div>
                </div>
            </div>
            <div class="row multi-row-clearfix">
                <div class="col-md-12">
                    <div class="products owl-carousel-4col">
                        <div class="item">
                            <div class="product">
                                <span class="tag-sale">Sale!</span>
                                <div class="product-thumb">
                                    <img alt="" src="http://placehold.it/320x360" class="img-responsive img-fullwidth">
                                    <div class="overlay">
                                        <div class="btn-add-to-cart-wrapper">
                                            <a class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="shop-cart.html" target="_blank">Add To Cart</a>
                                        </div>
                                        <div class="btn-product-view-details">
                                            <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="shop-product-details.html" target="_blank">View detail</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-details text-center">
                                    <a href="#"><h5 class="product-title">Shirt</h5></a>
                                    <div class="star-rating" title="Rated 3.50 out of 5"><span style="width: 67%;">3.50</span></div>
                                    <div class="price"><del><span class="amount">$110.00</span></del><ins><span class="amount">$90.00</span></ins></div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product">
                                <div class="product-thumb">
                                    <img alt="" src="http://placehold.it/320x360" class="img-responsive img-fullwidth">
                                    <div class="overlay">
                                        <div class="btn-add-to-cart-wrapper">
                                            <a class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="shop-cart.html" target="_blank">Add To Cart</a>
                                        </div>
                                        <div class="btn-product-view-details">
                                            <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="shop-product-details.html" target="_blank">View detail</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-details text-center">
                                    <a href="#"><h5 class="product-title">T-Shirt</h5></a>
                                    <div class="star-rating" title="Rated 5.00 out of 5"><span style="width: 100%;">5.00</span></div>
                                    <div class="price"><ins><span class="amount">$480.00</span></ins></div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product">
                                <span class="tag-sale">Sale!</span>
                                <div class="product-thumb">
                                    <img alt="" src="http://placehold.it/320x360" class="img-responsive img-fullwidth">
                                    <div class="overlay">
                                        <div class="btn-add-to-cart-wrapper">
                                            <a class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="shop-cart.html" target="_blank">Add To Cart</a>
                                        </div>
                                        <div class="btn-product-view-details">
                                            <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="shop-product-details.html" target="_blank">View detail</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-details text-center">
                                    <a href="#"><h5 class="product-title">White T-Shirt</h5></a>
                                    <div class="star-rating" title="Rated 3.50 out of 5"><span style="width: 60%;">3.50</span></div>
                                    <div class="price"><del><span class="amount">$70.00</span></del><ins><span class="amount">$55.00</span></ins></div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product">
                                <div class="product-thumb">
                                    <img alt="" src="http://placehold.it/320x360" class="img-responsive img-fullwidth">
                                    <div class="overlay">
                                        <div class="btn-add-to-cart-wrapper">
                                            <a class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="shop-cart.html" target="_blank">Add To Cart</a>
                                        </div>
                                        <div class="btn-product-view-details">
                                            <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="shop-product-details.html" target="_blank">View detail</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-details text-center">
                                    <a href="#"><h5 class="product-title">Blue-Shirt</h5></a>
                                    <div class="star-rating" title="Rated 3.50 out of 5"><span style="width: 75%;">3.50</span></div>
                                    <div class="price"><ins><span class="amount">$185.00</span></ins></div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product">
                                <span class="tag-sale">Sale!</span>
                                <div class="product-thumb">
                                    <img alt="" src="http://placehold.it/320x360" class="img-responsive img-fullwidth">
                                    <div class="overlay">
                                        <div class="btn-add-to-cart-wrapper">
                                            <a class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="shop-cart.html" target="_blank">Add To Cart</a>
                                        </div>
                                        <div class="btn-product-view-details">
                                            <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="shop-product-details.html" target="_blank">View detail</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-details text-center">
                                    <a href="#"><h5 class="product-title">Blue-Jeans</h5></a>
                                    <div class="star-rating" title="Rated 3.50 out of 5"><span style="width: 40%;">3.50</span></div>
                                    <div class="price"><del><span class="amount">$220.00</span></del><ins><span class="amount">$210.00</span></ins></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Divider: Call To Action -->
    <section class="bg-theme-colored">
        <div class="container pt-20 pb-30">
            <div class="row">
                <div class="call-to-action pt-30 pb-20">
                    <div class="col-md-1 text-right sm-text-center pr-0">
                        <i class="pe-7s-cart text-white font-36 mr-10"></i>
                    </div>
                    <div class="col-md-9 pl-0">
                        <h3 class="mt-5 text-white text-uppercase font-weight-600">All kind of sell get 20% discount in this season with gift!</h3>
                    </div>
                    <div class="col-md-2 text-right flip sm-text-center">
                        <a class="btn btn-default btn-lg btn-circled mt-5" href="#">Shop Now<i class="fa fa-angle-double-right font-16 ml-10"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>