<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}">

<div class="main-content" layout:fragment="content">

    <!-- Section: home -->
    <section id="home">
        <div class="container-fluid p-0">

            <script th:inline="javascript">
                var mainObj = {
                    makeCart    : function (obj) {
                        var user             = [[${session.user}]],
                            userId           = 0,
                            productId        = $(obj).data("productId");

                        if (!user) {
                            alert("로그인 후 장바구니에 추가할 수 있습니다.");
                            return;
                        }

                        userId = user.id;

                        var data = {
                            "userId"       : userId,
                            "productId"    : productId,
                            "productCount" : 1
                        }

                        $.ajax({
                            type : "POST",
                            url  : "/carts",
                            contentType : "application/json",
                            data        : JSON.stringify(data),
                            beforeSend  : function (xhr) {
                                xhr.setRequestHeader(header, token);
                            },
                            success : function(data) {
                                alert(data);
                            },
                            error : function(e) {
                                alert(e.responseText);
                            }
                        })
                    }
                }
            </script>

            <script>
                $(document).ready(function(e) {
                    $(".rev_slider").revolution({
                        sliderType:"standard",
                        sliderLayout: "auto",
                        dottedOverlay: "none",
                        delay: 5000,
                        navigation: {
                            keyboardNavigation: "off",
                            keyboard_direction: "horizontal",
                            mouseScrollNavigation: "off",
                            onHoverStop: "off",
                            touch: {
                                touchenabled: "on",
                                swipe_threshold: 75,
                                swipe_min_touches: 1,
                                swipe_direction: "horizontal",
                                drag_block_vertical: false
                            },
                            arrows: {
                                style:"zeus",
                                enable:true,
                                hide_onmobile:true,
                                hide_under:600,
                                hide_onleave:true,
                                hide_delay:200,
                                hide_delay_mobile:1200,
                                tmp:'<div class="tp-title-wrap">    <div class="tp-arr-imgholder"></div> </div>',
                                left: {
                                    h_align:"left",
                                    v_align:"center",
                                    h_offset:30,
                                    v_offset:0
                                },
                                right: {
                                    h_align:"right",
                                    v_align:"center",
                                    h_offset:30,
                                    v_offset:0
                                }
                            },
                            bullets: {
                                enable:true,
                                hide_onmobile:true,
                                hide_under:600,
                                style:"metis",
                                hide_onleave:true,
                                hide_delay:200,
                                hide_delay_mobile:1200,
                                direction:"horizontal",
                                h_align:"center",
                                v_align:"bottom",
                                h_offset:0,
                                v_offset:30,
                                space:5,
                                tmp:'<span class="tp-bullet-img-wrap">  <span class="tp-bullet-image"></span></span><span class="tp-bullet-title">{{title}}</span>'
                            }
                        },
                        responsiveLevels: [1240, 1024, 778],
                        visibilityLevels: [1240, 1024, 778],
                        gridwidth: [1170, 1024, 778, 480],
                        gridheight: [650, 768, 960, 720],
                        lazyType: "none",
                        parallax: {
                            origo: "slidercenter",
                            speed: 1000,
                            levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 100, 55],
                            type: "scroll"
                        },
                        shadow: 0,
                        spinner: "off",
                        stopLoop: "on",
                        stopAfterLoops: 0,
                        stopAtSlide: -1,
                        shuffle: "off",
                        autoHeight: "off",
                        fullScreenAutoWidth: "off",
                        fullScreenAlignForce: "off",
                        fullScreenOffsetContainer: "",
                        fullScreenOffset: "0",
                        hideThumbsOnMobile: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            nextSlideOnWindowFocus: "off",
                            disableFocusListener: false,
                        }
                    });

                    // 로그인 중복 메시지
                    /*if ([[${duplicatedLogin}]]) {
                        alert([[${duplicatedLogin}]]);
                    }*/
                });
            </script>
            <!-- Slider Revolution Ends -->
        </div>
    </section>

    <!-- Section: Shop  -->
    <section id="shop">
        <div id="best" class="container pb-30">
            <div class="section-title text-center mb-30">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="mt-0 mb-5">Best Selling Products</h2>
                        <p>가장 인기있는 상품 리스트 TOP 10</p>
                    </div>
                </div>
            </div>
            <div class="row multi-row-clearfix">
                <div class="col-md-12">
                    <div class="products owl-carousel-4col">
                        <th:block th:if="${#lists.size(bestProductList)} > 0" th:each="bestProductList, index : ${bestProductList}">
                            <div class="item">
                                <div class="product">
                                    <span class="tag-sale" th:text="@{|${index.index + 1}위|}"><strong></strong></span>
                                    <div class="product-thumb">
                                        <img alt="" th:src="${bestProductList.getTitleImg()}" class="img-responsive img-fullwidth">
                                        <div class="overlay">
                                            <div class="btn-add-to-cart-wrapper">
                                                <a th:data-product-id="${bestProductList.getId()}" class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="javascript:;" onclick="mainObj.makeCart(this)">Add To Cart</a>
                                            </div>
                                            <div class="btn-product-view-details">
                                                <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" th:href="@{|/productDetails?productId=${bestProductList.getId()}|}">Product detail</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-details text-center">
                                        <a th:href="@{|/productDetails?productId=${bestProductList.getId()}|}"><h5 class="product-title" th:text="${bestProductList.getProductNm()}"></h5></a>
                                        <div class="star-rating" title="Rated 3.50 out of 5"><span th:style="@{|width: ${bestProductList.getRateAvg()}%;|}">3.50</span></div>
                                        <div class="price">
                                            <del><span class="amount" th:if="${bestProductList.getDisPrice() != 0}" th:text="@{|${bestProductList.getPrice()}원|}"></span></del><ins><span class="amount" th:text="@{|${bestProductList.getSalePrice()}원|}"></span></ins></div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="divider bg-light">
        <div class="container pt-40 pb-40">
            <div class="row">
                <div class="">
                    <div class="col-md-5 text-center">
                        <img alt="" src="upload/discount_picture.png">
                    </div>
                    <div class="col-md-7 text-left">
                        <h4 class="mt-50 text-theme-colored mb-0">Big discount!</h4>
                        <h1 class="mt-0">Products On sale!</h1>
                        <p class="mt-10">여러 할인 중인 상품들이 있습니다.</p>
                        <a th:href="@{/saleProductList}" class="btn btn-success btn-circled mt-20">할인중인 상품 보러가기</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div id="newcollection" class="container pb-0">
            <div class="section-title text-center mb-30">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="mt-0 mb-5">New Collection</h2>
                        <p class="font-16 mt-0">신상품 리스트</p>
                    </div>
                </div>
            </div>
            <div class="row multi-row-clearfix">
                <div class="col-md-12">
                    <div class="products">
                        <th:block th:if="${#lists.size(newProductList)} > 0" th:each="newProductList, index : ${newProductList}">
                            <div class="col-sm-6 col-md-4 col-lg-3 mb-30">
                                <div class="product">
                                    <span class="tag-sale" th:if="${newProductList.getDisPrice() != 0}" th:text="@{|${newProductList.getDisPrice()}% Sale!|}"><strong></strong></span>
                                    <div class="product-thumb">
                                        <img alt="" th:src="${newProductList.getTitleImg()}" class="img-responsive img-fullwidth">
                                        <div class="overlay">
                                            <div class="btn-add-to-cart-wrapper">
                                                <a th:data-product-id="${newProductList.getId()}" class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="javascript:;" onclick="mainObj.makeCart(this)">Add To Cart</a>
                                            </div>
                                            <div class="btn-product-view-details">
                                                <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" th:href="@{|/productDetails?productId=${newProductList.getId()}|}">Product detail</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-details text-center">
                                        <a th:href="@{|/productDetails?productId=${newProductList.getId()}|}"><h5 class="product-title" th:text="${newProductList.getProductNm()}"></h5></a>
                                        <div class="star-rating" title="Rated 3.50 out of 5"><span th:style="@{|width: ${newProductList.getRateAvg()}%;|}">3.50</span></div>
                                        <div class="price"><del><span class="amount" th:if="${newProductList.getDisPrice() != 0}" th:text="@{|${newProductList.getPrice()}원|}"></span></del><ins><span class="amount" th:text="@{|${newProductList.getSalePrice()}원|}"></span></ins></div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>