<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}">

    <div class="main-content" layout:fragment="content">
        <script th:inline="javascript">

            var orderObj = {

                getOrderList : function(obj) {

                    var userId = [[${session.user.getId()}]],
                        page = obj ? $(obj).data("page") : 1;

                    $.ajax({
                        type : "GET",
                        url  : "/users/" + userId + "/orders/" + page,
                        contentType : "application/json",
                        beforeSend	: function(xhr) {
                            xhr.setRequestHeader(header, token);
                        },
                        success : function(data) {
                            if (data) {
                                var productOrderList      = data.productOrderList.content,
                                    productOrderPagingDto = data.productOrderPagingDto,
                                    $productOrderTableBody = $(".order-table-body"),
                                    $productOrderPagination = $(".product-order-pagination");

                                $productOrderTableBody.empty();
                                $productOrderPagination.empty();

                                if (productOrderList.length > 0) {

                                    productOrderList.forEach(function(element) {

                                        var cartListLength = element.carts.length;

                                        var orderTr = "<tr class='cart_itme'>" +
                                            "<td class=\"product-remove\"><a data-order-id='" + element.id + "' data-toggle=\"modal\" data-target=\".bs-order-modal-lg\" title=\"Remove this item\" class=\"remove\" href=\"#\" onclick='orderObj.getOrderDetail(this)'>" + element.orderNumber + "</a></td>" +
                                            "<td class=\"product-thumbnail\"><a href='/productDetails?productId=" + element.carts[cartListLength - 1].product.id + "'><img alt=\"member\" src='" + element.carts[cartListLength - 1].product.titleImg + "'></a></td>" +
                                            "<td class=\"product-name\"><span class=\"text-theme-colored\">" + element.orderName + "<span/>" +
                                            "<ul class=\"variation\">" +
                                            "</ul></td>" +
                                            "<td class=\"product-price\"><span class=\"amount\">" + element.amount + "</span></td>" +
                                            "<td class=\"product-price\"><span class=\"amount\">" + element.orderStatus + "</span></td>" +
                                            "<td class=\"product-name\"><span class=\"amount\">" + element.createdDate + "</span></td>" +
                                            "</tr>"

                                        $productOrderTableBody.append(orderTr);
                                    })

                                    // 페이징 그리기
                                    // Prev 페이지
                                    if (productOrderPagingDto.scaleStartPage !== 1) {
                                        var prevLi =
                                            "<li><a data-page='" + productOrderPagingDto.prevPage + "' class='product-list-page' href='#' onclick='orderObj.getOrderList(this)' aria-label='Previous'><span aria-hidden='true'>&laquo;</span></a></li>";

                                        $productOrderPagination.append(prevLi);
                                    }

                                    // 중간 페이지
                                    for (var i = productOrderPagingDto.scaleStartPage; i <= productOrderPagingDto.scaleEndPage; i++) {
                                        var pageLi = "";

                                        if (productOrderPagingDto.page === i) {
                                            pageLi = "<li class='active'><a data-page='" + i + "' class='product-list-page' href='#' onclick='orderObj.getOrderList(this)'>" + i + "</a></li>";
                                        } else {
                                            pageLi = "<li class=''><a data-page='" + i + "' class='product-list-page' href='#' onclick='orderObj.getOrderList(this)'>" + i + "</a></li>";
                                        }

                                        $productOrderPagination.append(pageLi);
                                    }

                                    // Next 페이지
                                    if (productOrderPagingDto.scaleEndPage !== productOrderPagingDto.totPage) {
                                        var nextLi =
                                            "<li><a data-page='" + productOrderPagingDto.nextPage + "' class='product-list-page' href='#' onclick='orderObj.getOrderList(this)' aria-label='Next'><span aria-hidden='true'>&raquo;</span></a></li>"

                                        $productOrderPagination.append(nextLi);
                                    }
                                }
                            }else {
                                $(".order-table-body").append("<tr class='cart_itme'><td colspan=\"6\"><strong>주문내역이 없습니다.</strong></td></tr>")
                            }
                        },
                        error   : function(e) {
                            alert(e.responseText);
                        }
                    })
                },
                getOrderDetail  : function (obj) {

                    $.ajax({
                        type : "GET",
                        url : "/orders/" + $(obj).data("orderId"),
                        contentType : "application/json",
                        beforeSend	: function(xhr) {
                            xhr.setRequestHeader(header, token);
                        },
                        success : function(data) {
                            var $orderUl = $(".order-ul");

                            $orderUl.empty();

                            var orderLi = "<li><strong>주문번호</strong></li>" +
                                    "<li>" + data.orderNumber + "</li><hr>" +
                                    "<li><strong>주문명</strong></li>" +
                                    "<li>" + data.orderName + "</li><hr>" +
                                    "<li><strong>결제금액</strong></li>" +
                                    "<li>" + data.amount + "원</li><hr>" +
                                    "<li><strong>주문상태</strong></li>" +
                                    "<li>" + data.orderStatus + "</li><hr>" +
                                    "<li><strong>배송주소</strong></li>" +
                                    "<li>" + data.address + "</li><hr>" +
                                    "<li><strong>배송메세지</strong></li>" +
                                    "<li>" + data.deliveryMessage + "</li><hr>" +
                                    "<li><strong>주문상품 (최대 16개 까지만 표시됩니다.)</strong></li>";

                            for (var i = 0; i < data.carts.length; i++) {
                                orderLi += "<img width='100px' height='100px' alt=\"member\" src='" + data.carts[i].product.titleImg + "'>";

                                if (i === 15) {
                                    orderLi += "<hr><li>외 " + (data.carts.length - (i + 1)) + "종류의 상품</li>"
                                    break;
                                }
                            }

                            $orderUl.append(orderLi);
                        },
                        error : function (e) {
                            alert(e.responseText);
                        }
                    })

                }
            }

            $(function() {
                orderObj.getOrderList();
            })
        </script>

        <!-- 주문상세 모달창 -->
        <div class="modal fade bs-order-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Order</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <div class="horizontal-tab order-tab">
                                <ul class="nav nav-tabs">
                                    <li class="active order-tab"><a href="#order-tab" data-toggle="tab">주문상세</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="order-tab">
                                        <div class="orders">
                                            <ul class="order-ul">

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>


        <section>
            <div class="container">
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <h2>Order List</h2>
                            <hr>
                            <table class="table table-striped table-bordered tbl-shopping-cart">
                                <thead>
                                <tr>
                                    <th>주문번호</th>
                                    <th>이미지</th>
                                    <th>주문명</th>
                                    <th>결제액</th>
                                    <th>주문상태</th>
                                    <th>주문날짜</th>
                                </tr>
                                </thead>
                                <tbody class="order-table-body">

                                </tbody>
                            </table>
                            <div class="col-md-12">
                                <nav>
                                    <ul class="pagination product-order-pagination theme-skin-green mt-0">

                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end main-content -->
    </div>

</html>
