<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}">

    <div class="main-content" layout:fragment="content">
        <script th:inline="javascript">

            var productListObj = {

                getProductListCmmn  : function(data, keyword) {
                    var productList      = data.productList.content,
                        productPagingDto = data.productPagingDto,
                        $productList     = $(".products .product-list"),
                        $productListPagination = $(".product-list-pagination");

                    // 상품 리스트, 페이지 비우기
                    $productList.empty();
                    $productListPagination.empty();

                    // 상품 리스트 그리기
                    if (productList.length > 0) {
                        productList.forEach(function(element) {
                            var salePrice = 0;

                            var productDiv =
                                "<div class='col-sm-6 col-md-4 col-lg-4 mb-30'>" +
                                "<div class='product pb-0'>";

                            if (element.disPrice !== 0) {
                                productDiv += "<span class='tag-sale'>" + element.disPrice + "% Sale!</span>";
                            }

                            productDiv +=
                                "<div class='product-thumb'>" +
                                "<img alt='' src='" + element.titleImg + "' class='img-responsive img-fullwidth'>" +
                                "<div class='overlay'>" +
                                "<div class='btn-add-to-cart-wrapper'>" +
                                "<a data-product-id='" + element.id + "' class='btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700' href='javascript:;' onclick='productListObj.makeCart(this)'>Add To Cart</a>" +
                                "</div>" +
                                "<div class='btn-product-view-details'>" +
                                "<a class='btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700' href='/productDetails?productId=" + element.id + "'>Product detail</a>" +
                                "</div>" +
                                "</div>" +
                                "</div>" +
                                "<div class='product-details text-center bg-lighter pt-15 pb-10'>" +
                                "<a href='/productDetails?productId=" + element.id + "'><h5 class='product-title mt-0'>" + element.productNm + "</h5></a>" +
                                "<div class='star-rating' title='Rated 3.50 out of 5'><span style='width: " + element.rateAvg + "%;'>3.50</span></div>";

                            if (element.disPrice !== 0) {
                                salePrice = element.price * ((100 - element.disPrice) / 100);
                                productDiv +=  "<div class='price'><del><span class='amount'>" + element.price + "원</span></del><ins><span class='amount'><strong> " + salePrice + "원</strong></span></ins></div>";
                            } else
                                productDiv += "<div class='price'><ins><span class='amount'><strong> " + element.price + "원</strong></span></ins></div>";;

                            productDiv +=
                                "</div>" +
                                "</div>" +
                                "</div>"

                            $(".products .product-list").append(productDiv);
                        })
                    }

                    if (!keyword) {
                        // 페이징 그리기
                        // Prev 페이지
                        if (productPagingDto.scaleStartPage !== 1) {
                            var prevLi =
                                "<li><a data-page='" + productPagingDto.prevPage + "' class='product-list-page' href='#' onclick='productListObj.getProductListByKeyword(this)' aria-label='Previous'><span aria-hidden='true'>&laquo;</span></a></li>";

                            $productListPagination.append(prevLi);
                        }

                        // 중간 페이지
                        for (var i = productPagingDto.scaleStartPage; i <= productPagingDto.scaleEndPage; i++) {
                            var pageLi = "";

                            if (productPagingDto.page === i) {
                                pageLi = "<li class='active'><a data-page='" + i + "' class='product-list-page' href='#' onclick='productListObj.getProductList(this)'>" + i + "</a></li>";
                            } else {
                                pageLi = "<li class=''><a data-page='" + i + "' class='product-list-page' href='#' onclick='productListObj.getProductList(this)'>" + i + "</a></li>";
                            }

                            $productListPagination.append(pageLi);
                        }

                        // Next 페이지
                        if (productPagingDto.scaleEndPage !== productPagingDto.totPage) {
                            var nextLi =
                                "<li><a data-page='" + productPagingDto.nextPage + "' class='product-list-page' href='#' onclick='productListObj.getProductList(this)' aria-label='Next'><span aria-hidden='true'>&raquo;</span></a></li>"

                            $productListPagination.append(nextLi);
                        }
                    } else {
                        // 페이징 그리기
                        // Prev 페이지
                        if (productPagingDto.scaleStartPage !== 1) {
                            var prevLi =
                                "<li><a data-page='" + productPagingDto.prevPage + "' class='product-list-page' href='#' onclick='productListObj.getProductListByKeyword(this)' aria-label='Previous'><span aria-hidden='true'>&laquo;</span></a></li>";

                            $productListPagination.append(prevLi);
                        }

                        // 중간 페이지
                        for (var i = productPagingDto.scaleStartPage; i <= productPagingDto.scaleEndPage; i++) {
                            var pageLi = "";

                            if (productPagingDto.page === i) {
                                pageLi = "<li class='active'><a data-page='" + i + "' class='product-list-page' href='#' onclick='productListObj.getProductListByKeyword(this)'>" + i + "</a></li>";
                            } else {
                                pageLi = "<li class=''><a data-page='" + i + "' class='product-list-page' href='#' onclick='productListObj.getProductListByKeyword(this)'>" + i + "</a></li>";
                            }

                            $productListPagination.append(pageLi);
                        }

                        // Next 페이지
                        if (productPagingDto.scaleEndPage !== productPagingDto.totPage) {
                            var nextLi =
                                "<li><a data-page='" + productPagingDto.nextPage + "' class='product-list-page' href='#' onclick='productListObj.getProductListByKeyword(this)' aria-label='Next'><span aria-hidden='true'>&raquo;</span></a></li>"

                            $productListPagination.append(nextLi);
                        }
                    }
                },

                getProductList  : function(obj) {
                    var catCd = [[${param.catCd}]][0],
                        page = obj ? $(obj).data("page") : 1;

                    $.ajax({
                        type : "GET",
                        url  : "/products?catCd=" + catCd + "&page=" + page,
                        contentType : "application/json",
                        success : function(data) {
                            productListObj.getProductListCmmn(data);
                        },
                        error   : function(e) {
                        }
                    })
                },
                makeCart    : function (obj) {
                    var user             = [[${session.user}]],
                        userId           = 0,
                        productId        = $(obj).data("productId");

                    if (!user) {
                        alert("로그인 후 장바구니에 추가할 수 있습니다.");
                        return;
                    }

                    userId = user.id;

                    var data = {
                        "userId"       : userId,
                        "productId"    : productId,
                        "productCount" : 1
                    }

                    $.ajax({
                        type : "POST",
                        url  : "/carts",
                        contentType : "application/json",
                        data        : JSON.stringify(data),
                        beforeSend  : function (xhr) {
                            xhr.setRequestHeader(header, token);
                        },
                        success : function(data) {
                            alert(data);
                        },
                        error : function(e) {
                            alert(e.responseText);
                        }
                    })
                },
                getProductListByKeyword : function (obj) {
                    var page = obj ? $(obj).data("page") : 1,
                        catCd = $(":radio[name='catCd']:checked").val(),
                        sortCd = $(":radio[name='sortCd']:checked").val();

                    if (!catCd || !sortCd) {
                        alert("상품 카테고리와 상품 정렬을 선택하세요.");
                        return;
                    }

                    $.ajax({
                        type : "GET",
                        url  : "/products?catCd=" + catCd + "&sortCd=" + sortCd + "&page=" + page,
                        contentType : "application/json",
                        success : function (data) {
                            productListObj.getProductListCmmn(data, "keyword");

                            $(".products p.product-sort").text($(":radio[name='catCd']:checked").closest("li").text() + ", " + $(":radio[name='sortCd']:checked").closest("li").text() + " 순");
                        },
                        error : function(e) {
                            alert(e.responseText);
                        }
                    })

                }
            }

            $(function() {
                // 상품 리스트 얻기
                productListObj.getProductList();
            })

        </script>
        <section class="productList">
            <div class="container mt-30 mb-30 p-30">
                <!-- 카테고리 -->
                <ul class="cateWrap">
                    <li>
                        <div class="groupBox">
                            <p class="btn_group text-center">상품 카테고리</p>
                        </div>
                        <ul class="cateList">
                            <li class="btn_cate"><input type="radio" name="catCd" value="ALL" checked="checked"/>전체</li>
                            <th:block th:if="${#lists.size(catList_L)} > 0" th:each="catList_L : ${catMapList.get('mainCatList')}">
                                <li th:if="${catList_L.getCatLv() eq 1}" class="btn_cate">
                                    <input type="radio" name="catCd" th:value="${catList_L.getCatCd()}" th:text="${catList_L.getCatNm()}" />
                                </li>
                            </th:block>
                        </ul>
                    </li>
                    <li>
                        <div class="groupBox centered">
                            <p class="btn_group">상품 정렬</p>
                        </div>
                        <ul class="cateList">
                            <li class="btn_cate"><input type="radio" name="sortCd" value="new" checked="checked"/>최신</li>
                            <li class="btn_cate"><input type="radio" name="sortCd" value="past" />과거</li>
                            <li class="btn_cate"><input type="radio" name="sortCd" value="highPrice" />높은 가격</li>
                            <li class="btn_cate"><input type="radio" name="sortCd" value="lowPrice" />낮은 가격</li>
                            <li class="btn_cate"><input type="radio" name="sortCd" value="highSell" />높은 판매율</li>
                            <li class="btn_cate"><input type="radio" name="sortCd" value="lowSell" />낮은 판매율</li>
                        </ul>
                    </li>
                </ul>

                <div class="col-md-12">
                    <br>
                    <button type="button" data-type="search" class="btn btn-success pull-right" onclick="productListObj.getProductListByKeyword()">조회</button>
                </div>

                <div id="product-section" class="section-content">
                    <div class="row multi-row-clearfix">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="products">
                                <h2>Product List</h2>
                                <p class="product-sort"></p>
                                <hr>
                                <div class="product-list">

                                </div>
                                <div class="col-md-12">
                                    <nav>
                                        <ul class="pagination product-list-pagination theme-colored mt-0">

                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end main-content -->
    </div>
</html>
