<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}">

<div class="main-content" layout:fragment="content">
    <script th:inline="javascript">
        var questionId = 0;

        var productDetails = {

            init : function() {
                // 상품 상세 페이지 처음 로딩 시 호출
                $.ajax({
                    type : "GET",
                    url  : "/products/" + [[${productId}]],
                    contentType: "application/json",
                    beforeSend	: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    }
                }).done(function(data) {
                    $(".zoom-gallery a").attr("href", data.titleImg).attr("title", data.productNm);
                    $(".zoom-gallery img").attr("src", data.titleImg);
                    $(".product-name").text(data.productNm);

                    if (data.disPrice !== 0) {
                        $(".detail-product-price").prepend("<del><span class=\"real-price amount\">" + data.price + "원</span></del>")
                    }
                    // $(".real-price").text(data.price + "원");
                    $(".sale-price").text(data.price * ((100 - data.disPrice) / 100) + "원");
                    $(".limit-count").text(data.limitCount + "개");
                    $(".purchase-count").text(data.purchaseCount + "개");
                })

                // 문의 리스트 가져오기
                productDetails.normalUserQuestionListFn();
                // 리뷰 리스트 가져오기
                productDetails.getReviewListFn();
                // 관련 상품 리스트 가져오기
                productDetails.getRelatedProductListFn(data.id, data.smallCatCd);
            },
            normalUserQuestionListFn    :  function(obj) {
                var page = obj ? $(obj).data("page") : 1;

                var $questionPagination = $(".question-pagination");

                $.ajax({
                    type : "get",
                    url  : "/products/" + [[${productId}]] + "/questions?page=" + page,
                    contentType: "application/json",
                    beforeSend	: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success     : function(data) {
                        var questionPaigingDto = data.questionPagingDto,
                            questionList       = [],
                            userId = 0;

                        // 문의 리스트, 페이지 비우기
                        $("#questionList").empty();
                        $questionPagination.empty();

                        if (data.questionList.content) {
                            questionList      = data.questionList.content;
                        }

                        // 문의 리스트, 페이지 그리기
                        questionList.forEach(function (element) {
                            var question =
                                "<li data-id='" + element.questionUserResponseDto.id + "' data-question-id='" + element.id  + "' class='comment question'>" +
                                "<div class='media'>" +
                                "<a href='#' class='media-left'><img class='img-circle' alt='' src='https://placehold.it/75x75' width='75'></a>" +
                                "<div class='media-body'>" +
                                "<ul class='review_text list-inline'>" +
                                "<li>" +
                                "<h5 class='media-heading meta'><span class='author'><strong>" + element.questionUserResponseDto.identifier + "</strong></span> / " + element.createdDate  + "</h5>" +
                                "</li>" +
                                "</ul>" +
                                element.message +
                                "</div>" +
                                "<button data-question-id='" + element.id + "' data-target='.bs-answer-modal-lg' data-toggle='modal' class='btn-answer pull-right btn btn-success' onclick='productDetails.getAnswerFn(this)'>댓글 " + element.answerCount + "</button>" +
                                "</div>" +
                                "</li>"
                            $("#questionList").append(question);
                        })

                        // 로그인이 되어있는지 session을 통해 파악
                        if ([[${session.user}]]) {
                            var userObj = [[${session.user}]];
                            userId = userObj.id;
                        }

                        // 로그인 시 해당 유저가 작성한 문의의 수정버튼 띄우기
                        $("#questionList li.question").each(function(index) {
                            var questionId = $(this).data("questionId");

                            if ($(this).data("id") === userId) {
                                $(this).find(".media").append("<button data-question-id='" + questionId
                                    + "' class='btn-modify pull-right btn btn-default' data-toggle='modal' data-target='.bs-question-modify-modal-sm' onclick='productDetails.setQuestionIdFn(this)'>수정</button>");
                            }

                            $(this).find(".media").append("<hr>");
                        })

                        // 페이징 처리하기
                        if (questionPaigingDto.scaleStartPage !== 1) {
                            var prevLi =
                                "<li><a data-page='" + questionPaigingDto.prevPage + "' class='question-page' href='javascript:;' onclick='productDetails.normalUserQuestionListFn(this)' aria-label='Previous'><span aria-hidden='true'>&laquo;</span></a></li>";

                            $questionPagination.append(prevLi);
                        }

                        for (var i = questionPaigingDto.scaleStartPage; i <= questionPaigingDto.scaleEndPage; i++) {
                            var pageLi = "";

                            if (questionPaigingDto.page === i) {
                                pageLi = "<li class='active'><a data-page='" + i + "' class='question-page' href='javascript:;' onclick='productDetails.normalUserQuestionListFn(this)'>" + i + "</a></li>";
                            } else {
                                pageLi = "<li class=''><a data-page='" + i + "' class='question-page' href='javascript:;' onclick='productDetails.normalUserQuestionListFn(this)'>" + i + "</a></li>";
                            }

                            $questionPagination.append(pageLi);
                        }

                        if (questionPaigingDto.scaleEndPage !== questionPaigingDto.totPage) {
                            var nextLi =
                                "<li><a data-page='" + questionPaigingDto.nextPage + "' class='question-page' href='javascript:;' onclick='productDetails.normalUserQuestionListFn(this)' aria-label='Next'><span aria-hidden='true'>&raquo;</span></a></li>"

                            $questionPagination.append(nextLi);
                        }
                    },
                    error       : function(e) {
                        alert(e.responseText);
                    }
                })
            },
            remainingFn   : function() {
                // 댓글 사이즈 제한하기
                $(".remaining").each(function() {
                    // count 정보 및 count 정보와 관련된 textarea/input 요소를 찾아내서 변수에 저장한다.
                    var $count = $(".count", this);
                    var $input = $(this).prev();
                    // .text()가 문자열을 반환하기에 이 문자를 숫자로 만들기 위해 1을 곱한다.
                    var maximumCount = $count.text() * 1;
                    // update 함수는 keyup, paste, input 이벤트에서 호출한다.
                    var update = function() {
                        var before = $count.text() * 1;
                        var now = maximumCount - $input.val().length;
                        // 사용자가 입력한 값이 제한 값을 초과하는지를 검사한다.
                        if (now < 0) {
                            var str = $input.val();
                            alert("글자 입력수가 초과하였습니다.");
                            $input.val(str.substr(0, maximumCount));
                            now = 0;
                        }
                        // 필요한 경우 DOM을 수정한다.
                        if (before != now) {
                            $count.text(now);
                        }
                    };
                    // input, keyup, paste 이벤트와 update 함수를 바인드한다
                    $input.bind("input keyup paste", function() {
                        setTimeout(update, 0)
                    });
                    update();
                });
            },
            setQuestionIdFn      : function(obj) {
                questionId = $(obj).data("questionId");
            },
            getAnswerFn    : function(obj) {
                var page = 1;

                if (obj) {
                    // 처음 댓글 모달창 띄울 때
                    if ($(obj).data("questionId"))
                        questionId = $(obj).data("questionId");
                    else
                        page = $(obj).data("page");
                }

                $.ajax({
                    type : "GET",
                    url  : "/questions/" + questionId + "/answers/" + page,
                    contentType : "application/json",

                    success : function (data) {
                        var userId = 0;
                        // 로그인이 되어있는지 session을 통해 파악
                        if ([[${session.user}]]) {
                            var userObj = [[${session.user}]];

                            userId = userObj.id;
                        }

                        var answerPagingDto = data.answerPagingDto,
                            answerList       = [],
                            $answerPagination = $(".answer-pagination");

                        // 문의 리스트, 페이지 비우기
                        $("#answerList").empty();
                        $answerPagination.empty();

                        if (data.answerList.content) {
                            answerList      = data.answerList.content;
                        }

                        // 문의 리스트, 페이지 그리기
                        answerList.forEach(function (element) {
                            var answer =
                                "<li data-id='" + element.user.id + "' data-answer-id='" + element.id  + "' class='comment answer'>" +
                                "<div class='media'>" +
                                "<a href='#' class='media-left'><img class='img-circle' alt='' src='https://placehold.it/75x75' width='75'></a>" +
                                "<div class='media-body'>" +
                                "<ul class='review_text list-inline'>" +
                                "<li>" +
                                "<h5 class='media-heading meta'><span class='author'><strong>" + element.user.identifier + "</strong></span> / " + element.createdDate  + "</h5>" +
                                "</li>" +
                                "</ul>" +
                                element.message +
                                "</div>" +
                                "</div>" +
                                "</li>"
                            $("#answerList").append(answer);
                        })

                        // 로그인 시 해당 유저가 작성한 문의의 수정버튼 띄우기
                        $("#answerList li.answer").each(function(index) {
                            var answerId = $(this).data("answerId");

                            if ($(this).data("id") === userId) {
                                $(this).find(".media").append("<button data-answer-id='" + answerId
                                    + "' class='btn-sm btn-modify pull-right btn btn-success' data-toggle='modal' data-target='.bs-question-modify-modal-sm'>삭제</button>");
                            }

                            $(this).find(".media").append("<hr>");
                        })

                        // 페이징 처리하기
                        if (answerPagingDto.scaleStartPage !== 1) {
                            var prevLi =
                                "<li><a data-page='" + answerPagingDto.prevPage + "' class='question-page' href='javascript:;' onclick='productDetails.getAnswerFn(this)' aria-label='Previous'><span aria-hidden='true'>&laquo;</span></a></li>";

                            $answerPagination.append(prevLi);
                        }

                        for (var i = answerPagingDto.scaleStartPage; i <= answerPagingDto.scaleEndPage; i++) {
                            var pageLi = "";

                            if (answerPagingDto.page === i) {
                                pageLi = "<li class='active'><a data-page='" + i + "' class='question-page' href='javascript:;' onclick='productDetails.getAnswerFn(this)'>" + i + "</a></li>";
                            } else {
                                pageLi = "<li class=''><a data-page='" + i + "' class='question-page' href='javascript:;' onclick='productDetails.getAnswerFn(this)'>" + i + "</a></li>";
                            }

                            $answerPagination.append(pageLi);
                        }

                        if (answerPagingDto.scaleEndPage !== answerPagingDto.totPage) {
                            var nextLi =
                                "<li><a data-page='" + answerPagingDto.nextPage + "' class='question-page' href='javascript:;' onclick='productDetails.getAnswerFn(this)' aria-label='Next'><span aria-hidden='true'>&raquo;</span></a></li>"

                            $answerPagination.append(nextLi);
                        }
                    },
                    error   : function(e) {
                        alert(e.responseText);
                    }
                })
            },
            makeAnswerFn    : function(obj) {
                var type = $(obj).data("type"),
                    userId = 0,
                    url = "";

                // 로그인이 되어있는지 session을 통해 파악
                if ([[${session.user}]]) {
                    var userObj = [[${session.user}]];

                    userId = userObj.id;
                }

                if (type === "NORMAL") {
                    url = "/questions/" + questionId + "/answers";
                } else {
                }

                $.ajax({
                    type : "POST",
                    url  : url,
                    data : JSON.stringify({"message" : $("#answerArea").val(), "userId" : userId}),
                    contentType : "application/json",
                    beforeSend  : function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success : function (data) {
                        alert(data);

                        productDetails.getAnswerFn();

                        $("#answerArea").val('');
                    },
                    error   : function() {
                        alert("댓글을 작성해 주세요.");
                    }
                })
            },
            makeCartFn  : function() {
                var user             = [[${session.user}]],
                    userId           = 0,
                    productCount     = Number($("#product-count").val()),
                    limitCountText   = $(".limit-count").text(),
                    limitCount       = Number(limitCountText.split("개")[0]);

                if (!user) {
                    alert("로그인 후 장바구니에 추가할 수 있습니다.");
                    return;
                }

                userId = user.id;

                if (productCount === 0) {
                    alert("수량이 0일 수 없습니다.");
                    return;
                }

                if (productCount > limitCount) {
                    alert("재고가 없습니다.")
                    return;
                }

                var data = {
                    "userId"       : userId,
                    "productId"    : [[${productId}]],
                    "productCount" : productCount
                }

                $.ajax({
                    type : "POST",
                    url  : "/carts",
                    contentType : "application/json",
                    data        : JSON.stringify(data),
                    beforeSend  : function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success : function (data) {
                        alert(data);
                    },
                    error : function(e) {
                        alert(e.responseText);
                    }
                })
            },
            makeReview  : function() {
                var userId = 0;
                // 로그인이 되어있는지 session을 통해 파악
                if ([[${session.user}]]) {
                    var userObj = [[${session.user}]];
                    userId = userObj.id;
                }

                if (userId === 0) {
                    alert("로그인 후 리뷰를 작성할 수 있습니다.")
                    return;
                }

                // 리뷰를 작성할 수 있는 회원인지 파악
                $.ajax({
                    type : "GET",
                    url  : "/reviews/authority",
                    data : {userId : userId, productId : [[${productId}]]},
                    contentType : "application/json",
                    beforeSend  : function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success : function (data) {

                        location.href = "/reviews?userId=" + userId + "&" + "productId=" + [[${productId}]];
                    },
                    error   : function (e) {
                        alert(e.responseText);
                    }
                })
            },
            getReviewListFn : function (obj) {
                var page = 1;

                if (obj)
                    page = $(obj).data("page");

                var $reviewPagination = $(".review-pagination");

                $.ajax({
                    type : "GET",
                    url : "/products/" + [[${productId}]] + "/reviews?page=" + page,
                    contentType : "application/json",
                    success : function (data) {
                        // 상품의 전체 평점 값 설정하기
                        $(".product-review-rate").attr("style", "width: " + data.rateAvg + "%;")

                        var reviewPagingDto = data.reviewPagingDto,
                            reviewList       = [];

                        // 문의 리스트, 페이지 비우기
                        $(".review-list").empty();
                        $reviewPagination.empty();

                        if (data.reviewList.content) {
                            reviewList      = data.reviewList.content;
                        }

                        $(".review-count").text(data.reviewList.totalElements);

                        // 리뷰 리스트, 페이지 그리기
                        reviewList.forEach(function (element) {
                            var rate = (element.rate * 20) + "%";

                            var reviewLi = "<li class=\"comment\">" +
                                    "<div class=\"media\"> <a href=\"#\" class=\"media-left\"><img class=\"img-circle\" alt=\"\" src=\"https://placehold.it/75x75\" width=\"75\"></a>" +
                                    "<div class=\"media-body\">" +
                                    "<ul class=\"review_text list-inline\">" +
                                    "<li>" +
                                    "<div title=\"Rated 5.00 out of 5\" class=\"star-rating\"><span style='width: " + rate + ";'>5.00</span></div>" +
                                    "</li>" +
                                    "<li>" +
                                    "<h5 class=\"media-heading meta\"><span class=\"author\"><strong>" + element.userIdentifier.identifier + "</strong> / </span>     " + element.createdDate + "</h5>" +
                                    "</li>" +
                                    "</ul><a data-review-id='" + element.id + "' href='#review-btn' onclick='productDetails.getReviewDetail(this)'>" + element.title + "</a>" +
                                    "</div>" +
                                    "</div>" +
                                    "</li>" +
                                    "<hr>";

                            $(".review-list").append(reviewLi);
                        })

                        // 페이징 처리하기
                        if (reviewPagingDto.scaleStartPage !== 1) {
                            var prevLi =
                                "<li><a data-page='" + reviewPagingDto.prevPage + "' class='question-page' href='javascript:;' onclick='productDetails.getReviewListFn(this)' aria-label='Previous'><span aria-hidden='true'>&laquo;</span></a></li>";

                            $reviewPagination.append(prevLi);
                        }

                        for (var i = reviewPagingDto.scaleStartPage; i <= reviewPagingDto.scaleEndPage; i++) {
                            var pageLi = "";

                            if (reviewPagingDto.page === i) {
                                pageLi = "<li class='active'><a data-page='" + i + "' class='question-page' href='javascript:;' onclick='productDetails.getReviewListFn(this)'>" + i + "</a></li>";
                            } else {
                                pageLi = "<li class=''><a data-page='" + i + "' class='question-page' href='javascript:;' onclick='productDetails.getReviewListFn(this)'>" + i + "</a></li>";
                            }

                            $reviewPagination.append(pageLi);
                        }

                        if (reviewPagingDto.scaleEndPage !== reviewPagingDto.totPage) {
                            var nextLi =
                                "<li><a data-page='" + reviewPagingDto.nextPage + "' class='question-page' href='javascript:;' onclick='productDetails.normalUserQuestionListFn(this)' aria-label='Next'><span aria-hidden='true'>&raquo;</span></a></li>"

                            $reviewPagination.append(nextLi);
                        }
                    },
                    error   : function (e) {
                        alert(e.responseText);
                    }
                })
            },
            getReviewDetail : function (obj) {
                var reviewId = $(obj).data("reviewId");
                var $reviewDeatilTarget = $("#review-detail");

                $reviewDeatilTarget.empty();

                $.ajax({
                    type : "GET",
                    url  : "/reviews/" + reviewId,
                    contentType : "application/json",
                    beforeSend  : function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success : function (data) {
                        $reviewDeatilTarget.append("<hr>").append(data.content)
                            .append("<button data-review-id='" + reviewId + "' class='pull-right btn btn-success' onclick='productDetails.closeReviewDetail()'>닫기</button>").append("<hr>");

                    },
                    error   : function (e) {
                        alert(e.responseText);
                    }
                })

                $reviewDeatilTarget.show();
            },
            closeReviewDetail   : function () {
                var $reviewDeatilTarget = $("#review-detail");

                $reviewDeatilTarget.empty();
                $reviewDeatilTarget.hide();
            },
            getRelatedProductListFn : function(id, smallCatCd) {

                $.ajax({
                    type : "GET",
                    url  : "/products/" + id + "/relation/" + smallCatCd,
                    contentType : "application/json",
                    success : function(data) {
                        var $relatedProductList = $("#related-product-list");

                        if (data.length > 0) {

                            data.forEach(function(element) {

                                var relatedProductDiv = "<div class=\"col-sm-6 col-md-3 col-lg-3 mb-30\">" +
                                        "<div class=\"product pb-0\">";

                                if (element.disPrice !== 0)
                                    relatedProductDiv += "<span class=\"tag-sale\">" + element.disPrice + "% Sale!</span>";

                                relatedProductDiv += "<div class=\"product-thumb\">" +
                                        "<img alt=\"\" src='" + element.titleImg + "' class=\"img-responsive img-fullwidth\">" +
                                        "<div class=\"overlay\">" +
                                        "<div class=\"btn-add-to-cart-wrapper\">" +
                                        "<a class=\"btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700\" href='javascript:;' onclick='productDetails.makeCartFn()'>Add To Cart</a>" +
                                        "</div>" +
                                        "<div class=\"btn-product-view-details\">" +
                                        "<a class=\"btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700\" href='/productDetails?productId=" + element.id + "'>Product detail</a>" +
                                        "</div>" +
                                        "</div>" +
                                        "</div>" +
                                        "<div class=\"product-details text-center bg-lighter pt-15 pb-10\">" +
                                        "<a href='/productDetails?productId=" + element.id + "'><h5 class=\"product-title mt-0\">" + element.productNm + "</h5></a>" +
                                        "<div class=\"star-rating\" title=\"Rated 3.50 out of 5\"><span style='width: " + element.rateAvg + "%;'></span></div>";

                                if (element.disPrice !== 0) {
                                    relatedProductDiv += "<div class=\"price\"><del><span class=\"amount\">" + element.price + "원</span></del><ins><span class=\"amount\">" + element.salePrice + "원</span></ins></div>";
                                } else {
                                    relatedProductDiv += "<div class=\"price\"><ins><span class=\"amount\">" + element.salePrice + "원</span></ins></div>";
                                }

                                relatedProductDiv += "</div></div></div>";

                                $relatedProductList.append(relatedProductDiv);
                            })
                            $("#related-products").show();
                        }
                    },
                    error   : function(e) {
                        alert(e.responseText);
                    }
                })
            }
        }

        var callback = {
            makeQuestionEventCb : function () {

                var data = {
                    "userId" : $("input[name='nomalUserId']").val(),
                    "productId"    : $("input[name='productId']").val(),
                    "message"      : $("#questionArea").val()
                }

                $.ajax({
                    type : "POST",
                    url  : "/questions",
                    data : JSON.stringify(data),
                    contentType: "application/json",
                    beforeSend	: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success : function (data) {
                        alert(data);

                        location.reload();
                    },
                    error   : function (e) {
                        alert(e.responseText);
                    }
                })
            },
            modifyQuestionEventCb   : function() {
                var $this  = $(this),
                    type   = $this.data("type"),
                    data   = {};

                var url = type ? "/questions/social/" + questionId : "/questions/" + questionId;

                if (!type)
                    data["message"] = $("#questionModifyArea").val();
                else
                    data["message"] = $("#social-questionModifyArea").val();

                if ($this.data("method") === "PUT" && data.message === "") {
                    alert("수정내용을 입력하세요.");
                    return;
                }

                $.ajax({
                    type : $this.data("method"),
                    url  : url,
                    data : JSON.stringify(data),
                    contentType: "application/json",
                    beforeSend	: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success : function (data) {
                        alert(data);

                        location.reload();
                    },
                    error   : function (e) {
                        alert(e.responseText);
                    }
                })
            }
        }

        $(function() {
            // 상품상세 페이지 로딩
            productDetails.init();
            // 일반유저 문의 생성하기
            $("#questionModalBtn").on("click", callback.makeQuestionEventCb);

            // 일반,소셜 유저 문의 수정,삭제 하기
            $(".modal-btn").on("click", callback.modifyQuestionEventCb);

            // 문의 메세지 길이 제한 함수
            productDetails.remainingFn();
        })
    </script>

    <!-- 상품 문의 모달창 -->
    <div class="modal fade bs-question-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Question</h4>
                </div>
                <div sec:authorize="hasAuthority('ROLE_USER')" class="modal-body">
                    <form id="questionFrm" name="question-form" class="question-form">
                        <input type="hidden" name="nomalUserId" th:value="${session.user.getId()}">
                        <input type="hidden" name="productId" th:value="${#httpServletRequest.getParameter('productId')}">
                        <div class="row">
                            <div class="form-group col-md-6">
                                아이디<br>
                                <input type="text" th:value="${session.user.getIdentifier()}" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                질문내용<br>
                                <textarea rows="6" cols="37" name="message" form="questionFrm" id="questionArea"></textarea>
                                <div class="remaining">남은 글자수: <span class="count">200</span></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button sec:authorize="hasAuthority('ROLE_USER')" type="button" id="questionModalBtn" class="btn btn-success btn-flat">문의하기</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 문의 수정 모달창 -->
    <div class="modal fade bs-question-modify-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modify</h4>
                </div>
                <div sec:authorize="hasAuthority('ROLE_USER')" class="modal-body">
                    <form id="question-modifyFrm" name="question-form" class="question-form">
                        <div class="row">
                            <div class="form-group col-md-6">
                                아이디<br>
                                <input type="text" th:value="${session.user.getIdentifier()}" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                수정내용<br>
                                <textarea rows="6" cols="37" name="message" form="questionFrm" id="questionModifyArea" placeholder="수정내용을 작성하세요."></textarea>
                                <div class="remaining">남은 글자수: <span class="count">200</span></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button sec:authorize="hasAuthority('ROLE_USER')" type="button"  data-method="PUT" class="modal-btn btn btn-success btn-flat">수정</button>
                    <button sec:authorize="hasAuthority('ROLE_USER')" type="button"  data-method="DELETE" class="modal-btn btn btn-success btn-flat">삭제</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 댓글달기 모달창 -->
    <div class="modal fade bs-answer-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Answer</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="horizontal-tab product-tab">
                            <ul class="nav nav-tabs">
                                <li class="active normal-question-tab"><a href="#normal-tab" data-toggle="tab">Answer</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="normal-tab">
                                    <div class="answers">
                                        <ol id="answerList" class="answerlist">

                                        </ol>
                                    </div>
                                    <div class="col-md-12">
                                        <nav>
                                            <ul class="answer-pagination pagination pagination-sm">

                                            </ul>
                                        </nav>
                                    </div>
                                    <div>
                                        <textarea class="form-control" rows="2" cols="100" name="message" id="answerArea" placeholder="댓글을 입력하세요."></textarea>
                                        <div sec:authorize="isAnonymous()">로그인 후 댓글을 작성할 수 있습니다.</div>
                                        <div sec:authorize="isAuthenticated()" class="remaining">남은 글자수: <span class="count">200</span></div>
                                        <button sec:authorize="hasAuthority('ROLE_USER')" data-type="NORMAL" class="btn btn-sm btn-success pull-right" onclick="productDetails.makeAnswerFn(this)">댓글쓰기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row"></div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <section>
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="product">
                        <div class="col-md-5">
                            <div class="product-image">
                                <div class="zoom-gallery">
                                    <a href="#" title="Title Here 1"><img src="#" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="product-summary">
                                <h2 class="product-name product-title">Product Name</h2>
                                <div class="product_review">
                                    <ul class="review_text list-inline">
                                        <li>
                                            <div title="Rated 4.50 out of 5" class="star-rating"><span class="product-review-rate" style="width: 90%;">4.50</span></div>
                                        </li>
                                        <li><span class="review-count"></span>Reviews</li>
                                        <li><a href="#" onclick="productDetails.makeReview()">Add reviews</a></li>
                                    </ul>
                                </div>
                                <div class="price detail-product-price">
                                    <!--<del><span class="real-price amount">$165.00</span></del> -->
                                    <ins><span class="sale-price amount">$160.00</span></ins>
                                </div>
                                <div class="category"><strong>재고:</strong> <span class="limit-count">Product Name</span></div>
                                <div class="category"><strong>구매 수:</strong> <span class="purchase-count">Product Name</span></div>
                                <div class="cart-form-wrapper mt-30">
                                    <form enctype="multipart/form-data" method="post" class="cart">
                                        <input type="hidden" value="productID" name="add-to-cart">
                                        <table class="table variations no-border">
                                            <tbody>
                                            <tr>
                                                <td class="name"><strong>수량</strong></td>
                                                <td class="value">
                                                    <div class="quantity buttons_added">
                                                        <input type="button" class="minus" value="-">
                                                        <input id="product-count" type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                                                        <input type="button" class="plus" value="+">
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <button class="single_add_to_cart_button btn btn-success" type="button" onclick="productDetails.makeCartFn()">장바구니에 추가</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="horizontal-tab product-tab">
                                <ul class="nav nav-tabs">
                                    <li class="active normal-question-tab"><a href="#tab1" data-toggle="tab">Questions</a></li>
                                    <li><a href="#tab2" data-toggle="tab">Reviews</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="tab1">
                                        <div class="questions">
                                            <ol id="questionList" class="commentlist">
                                            </ol>
                                        </div>
                                        <div class="col-md-12">
                                            <nav>
                                                <ul class="question-pagination pagination pagination-sm">

                                                </ul>
                                                <br>
                                                <p sec:authorize="isAnonymous()" class="pull-right">로그인 후에 문의를 작성하실 수 있습니다. <a href="/login"><strong>  로그인하기</strong></a></p>
                                                <button id="normal-btn" sec:authorize="hasAuthority('ROLE_USER')" data-toggle="modal" data-target=".bs-question-modal-sm" class="make-question-btn pull-right btn btn-success">문의하기</button>
                                            </nav>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab2">
                                        <div class="reviews">
                                            <ol class="review-list">

                                            </ol>
                                            <div class="col-md-12">
                                                <nav>
                                                    <ul class="review-pagination pagination pagination-sm">

                                                    </ul>
                                                </nav>
                                                <button id="review-btn" class="make-review-btn pull-right btn btn-success" onclick="productDetails.makeReview()">리뷰 작성하기</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 리뷰 상세 -->
                    <div id="review-detail" class="col-md-12" style="display:none;">

                    </div>

                    <div id="related-products" class="col-md-12 mt-30" style="display:none;">
                        <h3 class="line-bottom">Related Products</h3>
                        <div class="row multi-row-clearfix">
                            <div id="related-product-list" class="products related">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end main-content -->
</div>

</html>
