<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}">

    <div class="main-content" layout:fragment="content">
        <script th:inline="javascript">

            var saleProductListObj  = {

                getSaleProductList  : function (obj) {
                    var page = obj ? $(obj).data("page") : 1;
                    var saleCd = "yes";

                    $.ajax({
                        type : "GET",
                        url  : "/products?saleCd=" + saleCd + "&page=" + page,
                        contentType : "application/json",
                        success : function (data) {
                            var saleProductList             = data.saleProductList.content,
                                saleProductPagingDto        = data.saleProductPagingDto,
                                $saleProductList            = $(".products .sale-product-list"),
                                $saleProductListPagination  = $(".sale-product-list-pagination");

                            $saleProductList.empty();
                            $saleProductListPagination.empty();

                            if (saleProductList.length > 0) {
                                saleProductList.forEach(function(element) {

                                    var saleProductDiv =
                                        "<div class='col-sm-6 col-md-4 col-lg-4 mb-30'>" +
                                        "<div class='product pb-0'>" +
                                        "<span class='tag-sale'>" + element.disPrice + "% Sale!</span>";

                                    saleProductDiv +=
                                        "<div class='product-thumb'>" +
                                        "<img alt='' src='" + element.titleImg + "' class='img-responsive img-fullwidth'>" +
                                        "<div class='overlay'>" +
                                        "<div class='btn-add-to-cart-wrapper'>" +
                                        "<a data-product-id='" + element.productId + "' class='btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700' href='javascript:;' onclick='saleProductListObj.makeCart(this)'>Add To Cart</a>" +
                                        "</div>" +
                                        "<div class='btn-product-view-details'>" +
                                        "<a class='btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700' href='/productDetails?productId=" + element.productId + "'>Product detail</a>" +
                                        "</div>" +
                                        "</div>" +
                                        "</div>" +
                                        "<div class='product-details text-center bg-lighter pt-15 pb-10'>" +
                                        "<a href='/productDetails?productId=" + element.productId + "'><h5 class='product-title mt-0'>" + element.productNm + "</h5></a>" +
                                        "<div class='star-rating' title='Rated 3.50 out of 5'><span style='width: " + element.rateAvg + "%;'>3.50</span></div>" +
                                        "<div class='price'><del><span class='amount'>" + element.price + "원</span></del><ins><span class='amount'><strong> " + element.salePrice + "원</strong></span></ins></div>" +
                                        "</div>" +
                                        "</div>" +
                                        "</div>";

                                    $saleProductList.append(saleProductDiv);
                                })
                            }

                            // 페이징 그리기
                            // Prev 페이지
                            if (saleProductPagingDto.scaleStartPage !== 1) {
                                var prevLi =
                                    "<li><a data-page='" + saleProductPagingDto.prevPage + "' class='product-list-page' href='#' onclick='saleProductListObj.getSaleProductList(this)' aria-label='Previous'><span aria-hidden='true'>&laquo;</span></a></li>";

                                $saleProductListPagination.append(prevLi);
                            }

                            // 중간 페이지
                            for (var i = saleProductPagingDto.scaleStartPage; i <= saleProductPagingDto.scaleEndPage; i++) {
                                var pageLi = "";

                                if (saleProductPagingDto.page === i) {
                                    pageLi = "<li class='active'><a data-page='" + i + "' class='product-list-page' href='#' onclick='saleProductListObj.getSaleProductList(this)'>" + i + "</a></li>";
                                } else {
                                    pageLi = "<li class=''><a data-page='" + i + "' class='product-list-page' href='#' onclick='saleProductListObj.getSaleProductList(this)'>" + i + "</a></li>";
                                }

                                $saleProductListPagination.append(pageLi);
                            }

                            // Next 페이지
                            if (saleProductPagingDto.scaleEndPage !== saleProductPagingDto.totPage) {
                                var nextLi =
                                    "<li><a data-page='" + saleProductPagingDto.nextPage + "' class='product-list-page' href='#' onclick='saleProductListObj.getSaleProductList(this)' aria-label='Next'><span aria-hidden='true'>&raquo;</span></a></li>"

                                $saleProductListPagination.append(nextLi);
                            }

                        },
                        error   : function (e) {
                            alert(e.responseText);
                        }

                    })
                },
                makeCart    : function (obj) {
                    var user             = [[${session.user}]],
                        productId        = $(obj).data("productId");

                    if (!user) {
                        alert("로그인 후 장바구니에 추가할 수 있습니다.");
                        return;
                    }

                    var userId = user.id;

                    var data = {
                        "userId"       : userId,
                        "productId"    : productId,
                        "productCount" : 1
                    }

                    $.ajax({
                        type : "POST",
                        url  : "/carts",
                        contentType : "application/json",
                        data        : JSON.stringify(data),
                        beforeSend  : function (xhr) {
                            xhr.setRequestHeader(header, token);
                        },
                        success : function(data) {
                            alert(data);
                        },
                        error : function(e) {
                            alert(e.responseText);
                        }
                    })
                }
            }

            $(function () {
                saleProductListObj.getSaleProductList();
            })

        </script>

        <section class="productList">
            <div class="container mt-30 mb-30 p-30">
                <div id="product-section" class="section-content">
                    <div class="row multi-row-clearfix">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="products">
                                <h2>Sale Product List</h2>
                                <p class="product-sort"></p>
                                <hr>
                                <div class="sale-product-list">

                                </div>
                                <div class="col-md-12">
                                    <nav>
                                        <ul class="pagination sale-product-list-pagination theme-colored mt-0">

                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</html>
