<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin-layout}">

<div class="main-content" layout:fragment="content">
    <script th:inline="javascript">

        var adminProductObj = {

            getProductList  : function (obj) {
                var page = obj ? $(obj).data("page") : 1;

                $.ajax({
                    type : "GET",
                    url  : "/productList/" + page,
                    contentType : "application/json",
                    beforeSend	: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success : function(data) {
                        // 상품 리스트, 페이지 비우기
                        var $productList     = $("#admin-product-list"),
                            $productListPagination = $(".com_table_board-no");

                        $productList.empty();
                        $productListPagination.empty();

                        if (data) {
                            var productList      = data.adminProductList.content,
                                productPagingDto = data.adminProductPagingDto

                            // 상품 리스트 그리기
                            if (productList.length > 0) {
                                $(".product-count").text(data.adminProductList.totalElements + "건")

                                productList.forEach(function(element) {
                                    var productTr = "<tr data-id=" + element.id + " onclick='adminProductObj.getProductDetails(this)'>" +
                                        "<td class=\"txt-left\">" + element.productNm + "</td>" +
                                        "<td>" + element.price + "원</td>";

                                    if (element.disPrice === 0)
                                        productTr += "<td>N</td><td>" + element.disPrice + "%</td>";
                                    else
                                        productTr += "<td>Y</td><td>" + element.disPrice + "%</td>";

                                    productTr += "<td>" + element.purchaseCount + "개</td>" +
                                        "<td>" + element.totalCount + "개</td>" +
                                        "</tr>";

                                    $productList.append(productTr);
                                })
                            } else {
                                $productList.append("<tr><td colspan=\"5\" class=\"com_table_board-info\">상품이 없습니다.</td></tr>");
                            }

                            // Prev 페이지
                            if (productPagingDto.scaleStartPage !== 1) {
                                var prevSpan =
                                    "<span data-page='" + productPagingDto.prevPage + "' class=\"com_table_board-no-btn\" onclick='adminProductObj.getProductList(this)'><a href=\"javascript:;\"><img src=\"images/btn-board-prev.gif\" /></a></span>"

                                $productListPagination.append(prevSpan);
                            }

                            $productListPagination.append("<span class=\"com_table_board-no-sum\"></span>");

                            // 중간 페이지
                            for (var i = productPagingDto.scaleStartPage; i <= productPagingDto.scaleEndPage; i++) {
                                var pageA = "";

                                if (productPagingDto.page === i) {
                                    pageA = "<a data-page='" + i + "' href=\"javascript:;\" class=\"board-em\" onclick='adminProductObj.getProductList(this)'>" + i + "</a>";
                                } else {
                                    pageA = "<a data-page='" + i + "' href=\"javascript:;\" onclick='adminProductObj.getProductList(this)'>" + i + "</a>";
                                }

                                $(".com_table_board-no-sum").append(pageA);
                            }

                            // Next 페이지
                            if (productPagingDto.scaleEndPage !== productPagingDto.totPage) {
                                var nextSpan =
                                    "<span data-page='" + productPagingDto.nextPage + "' class=\"com_table_board-no-btn\" onclick='adminProductObj.getProductList(this)'><a href=\"javascript:;\"><img src=\"images/btn-board-next.gif\" /></a></span>"

                                $productListPagination.append(nextSpan);
                            }
                        } else {
                            $(".product-count").text("0건");
                            $productList.append("<tr><td colspan=\"6\">검색 결과가 없습니다.</td></tr>");
                        }
                    },
                    error   : function(e) {
                        alert(e.responseText);
                    }
                })
            },

            getProductListByCatCd   : function (obj) {
                var page = obj ? $(obj).data("page") : 1;

                $.ajax({
                    type : "GET",
                    url  : "/productList/" + page + "/firstCategory/" +
                        $("#first-category-select-box").val() + "/secondCategory/" + $("#second-category-select-box").val(),
                    contentType : "application/json",
                    beforeSend	: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success : function(data) {
                        // 상품 리스트, 페이지 비우기
                        var $productList     = $("#admin-product-list"),
                            $productListPagination = $(".com_table_board-no");

                        $productList.empty();
                        $productListPagination.empty();

                        if (data) {
                            var productList      = data.adminProductList.content,
                                productPagingDto = data.adminProductPagingDto;

                            // 상품 리스트 그리기
                            if (productList.length > 0) {

                                $(".product-count").text(data.adminProductList.totalElements + "건")

                                productList.forEach(function(element) {
                                    var productTr = "<tr data-id=" + element.id + " onclick='adminProductObj.getProductDetails(this)'>" +
                                        "<td class=\"txt-left\">" + element.productNm + "</td>" +
                                        "<td>" + element.price + "원</td>";

                                    if (element.disPrice === 0)
                                        productTr += "<td>N</td><td>" + element.disPrice + "%</td>";
                                    else
                                        productTr += "<td>Y</td><td>" + element.disPrice + "%</td>";

                                    productTr += "<td>" + element.purchaseCount + "개</td>" +
                                        "<td>" + element.totalCount + "개</td>" +
                                        "</tr>";

                                    $productList.append(productTr);
                                })
                            } else {
                                $productList.append("<tr><td colspan=\"5\" class=\"com_table_board-info\">상품이 없습니다.</td></tr>");
                            }

                            // Prev 페이지
                            if (productPagingDto.scaleStartPage !== 1) {
                                var prevSpan =
                                    "<span data-page='" + productPagingDto.prevPage + "' class=\"com_table_board-no-btn\" onclick='adminProductObj.getProductListByCatCd(this)'><a href=\"javascript:;\"><img src=\"images/btn-board-prev.gif\" /></a></span>"

                                $productListPagination.append(prevSpan);
                            }

                            $productListPagination.append("<span class=\"com_table_board-no-sum\"></span>");

                            // 중간 페이지
                            for (var i = productPagingDto.scaleStartPage; i <= productPagingDto.scaleEndPage; i++) {
                                var pageA = "";

                                if (productPagingDto.page === i) {
                                    pageA = "<a data-page='" + i + "' href=\"javascript:;\" class=\"board-em\" onclick='adminProductObj.getProductListByCatCd(this)'>" + i + "</a>";
                                } else {
                                    pageA = "<a data-page='" + i + "' href=\"javascript:;\" onclick='adminProductObj.getProductListByCatCd(this)'>" + i + "</a>";
                                }

                                $(".com_table_board-no-sum").append(pageA);
                            }

                            // Next 페이지
                            if (productPagingDto.scaleEndPage !== productPagingDto.totPage) {
                                var nextSpan =
                                    "<span data-page='" + productPagingDto.nextPage + "' class=\"com_table_board-no-btn\" onclick='adminProductObj.getProductListByCatCd(this)'><a href=\"javascript:;\"><img src=\"images/btn-board-next.gif\" /></a></span>"

                                $productListPagination.append(nextSpan);
                            }
                        } else {
                            $(".product-count").text("0건");
                            $productList.append("<tr><td colspan=\"6\">검색 결과가 없습니다.</td></tr>");
                        }
                    },
                    error   : function(e) {
                        alert(e.responseText);
                    }
                })
            },
            getProductDetails   : function (obj) {
                location.href = "/adminProductDetails?productId=" + $(obj).data("id");
            }
        }

        var eventCbObj  = {

            selectBoxCbFn   : function() {
                var firstCatCd = $(this).val();

                $("#second-category-select-box option").remove();

                $.ajax({
                    type : "GET",
                    url : "/categories/first/" + firstCatCd + "/second",
                    contentType : "application/json",
                    beforeSend	: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success : function(data) {
                        if (data.length > 0) {
                            $("#second-category-select-box").append("<option value='ALL'>전체</option>");

                            $.each(data, function(i, item) {
                                var option = "<option value=" + item.catCd + ">" +
                                    item.catNm + "</option>"

                                $("#second-category-select-box").append(option);
                            })
                        } else {
                            $("#second-category-select-box").append("<option value='ALL'>전체</option>");
                        }
                    },
                    error   : function (e) {
                        alert(e.responseText);
                    }
                })
            }
        }

        $(function () {

            adminProductObj.getProductList();

            $("#first-category-select-box").change(eventCbObj.selectBoxCbFn);
        })
    </script>

    <div id="container">
        <!-- left_menu_start -->
        <!--<div id="left-navi">
            <h2><span>상품</span></h2>
            <ul id="lnb">
                <li class="lnb-on"><a href="#" class="color-white bold" title="상품">상품</a></li>
            </ul>
        </div>-->
        <hr />
        <!-- left_menu_end -->
        <!-- contents_start -->
        <div id="contents">
            <!-- contents_title_start -->
            <div class="title-area">
                <h3>상품관리</h3>
                <!-- navigation_start -->
                <div class="top_menu_nav">
                    HOME > 상품 > 상품관리
                </div>
                <!-- navigation_end -->
            </div>
            <!-- contents_title_end -->

            <!-- searchbox_start -->
            <div class="con-area">
                <fieldset class="com_list_input">
                    <legend>상품조회</legend>
                    <div class="com_list_input_con">
                        <label class="label-list">1차 카테고리</label>
                        <select name="" id="first-category-select-box" class="input_select" title="1차 카테고리">
                            <option value="ALL">전체</option>
                            <th:block th:if="${#lists.size(catList_L)} > 0" th:each="catList_L : ${catMapList.get('adminCatList')}">
                                <th:block th:if="${catList_L.getCatLv() eq 1}">
                                    <option th:data-id="${catList_L.getId()}" th:value="${catList_L.getCatCd()}" th:text="${catList_L.getCatNm()}"></option>
                                </th:block>
                            </th:block>
                        </select>&nbsp;&nbsp;

                        <label class="label-list">2차 카테고리</label>
                        <select name="" id="second-category-select-box" class="input_select" title="2차 카테고리">
                            <option value="ALL">전체</option>
                        </select>

                        <a href="javascript:;" class="btn-wine-10" title="조회" onclick="adminProductObj.getProductListByCatCd()">조회</a>
                    </div>
                </fieldset>
            </div>

            <p style="height:8px"><!--공간띄움--></p>

            <!-- 가로스크롤게시판_start -->
            <div class="com_table_board">
                <!-- 게시판상단버튼및검색조회수선택콤보박스_start -->
                <div class="com_table_board-tit">
                    <p class="com_table_board-txt">검색결과 <span class="product-count color_wine"></span></p>
                    <div class="com_table_board-list">
                        <a class="btn-wine-14" href="/adminProductRegist">등록</a>
                    </div>
                </div>
                <!-- 게시판상단버튼및검색조회수선택콤보박스_end -->
                <div class="com_table_board-table scroll">
                    <table summary="상품 조회결과" class="tbl-fixed">
                        <caption>상품 조회결과</caption>
                        <colgroup>
                            <col width="295px" />
                            <col width="120px" />
                            <col width="60px" />
                            <col width="60px" />
                            <col width="60px" />
                            <col width="60px" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>상품명</th>
                                <th>상품가격</th>
                                <th>할인여부</th>
                                <th>할인(%)</th>
                                <th>구매수량</th>
                                <th>재고</th>
                            </tr>
                        </thead>
                        <tbody id="admin-product-list">

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- 가로스크롤게시판_end -->

            <!-- 페이징_start -->
            <div class="com_table_board-no">

            </div>
            <!-- 페이징_end -->
        </div>
        <!-- contents_end -->
        <hr />
    </div>
</div>
</html>