<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin-layout}">

<div class="main-content" layout:fragment="content">
    <script th:inline="javascript">

        var productRegistObj = {
            uploadCheckYn   : false,
            regex   : new RegExp("(.*?)\.(jpg|JPG|jpeg|JPEG|png|PNG)$"),
            maxSize : 5242880,  // 5MB
            titleImagePath : "",

            checkExtension  : function(fileName, fileSize) {

                if (fileSize >= this.maxSize) {
                    alert("파일 사이즈 초과");
                    return false;
                }

                if (!this.regex.test(fileName)) {
                    alert("해당 종류의 파일은 업로드할 수 없습니다.");
                    return false;
                }
                return true;
            },

            productTitleImgUpload   : function () {
                var form_data = new FormData();

                var inputFile = $("input[name='product-title-image']");

                var files = inputFile[0].files;

                if (files.length === 0) {
                    alert("업로드 할 파일이 없습니다.")
                    return;
                }

                if (!this.checkExtension(files[0].name, files[0].size))
                    return;

                form_data.append('file', files[0]);

                $.ajax({
                    type: "POST",
                    url: '/products/titleImage',
                    cache: false,
                    contentType: false,
                    enctype: 'multipart/form-data',
                    processData: false,
                    data : form_data,
                    beforeSend	: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success: function(data) {
                        productRegistObj.uploadCheckYn = true;
                        productRegistObj.titleImagePath = data;
                        alert("상품 타이틀 이미지 업로드 완료.");
                    },
                    error   : function (e) {
                        alert(e.responseText);
                    }
                })
            },
            registProduct   : function () {
                var productObj = {};
                var blankCnt = 0;

                $(".input_txt").each(function() {

                    if ($(this).val() === "") {
                        blankCnt++;
                        return false;
                    }
                })

                if (blankCnt > 0) {
                    alert("빈 곳이 존재합니다.")
                    return;
                }

                if (!this.uploadCheckYn) {
                    alert("타이틀 이미지를 업로드 하세요.");
                    return;
                }

                var largeCatCd = $("#first-category-select-box").val(),
                    smallCatCd = $("#second-category-select-box").val();

                if (largeCatCd === "" || smallCatCd === "") {
                    alert("카테고리를 선택하세요.");
                    return;
                }

                productObj.productNm = $("input[name='product-name']").val();
                productObj.price = $("input[name='product-price']").val();
                productObj.titleImg = this.titleImagePath;
                productObj.largeCatCd = largeCatCd;
                productObj.smallCatCd = smallCatCd;
                productObj.totalCount = $("input[name='product-total-count']").val();

                $.ajax({
                    type : "POST",
                    url  : "/products",
                    data : JSON.stringify(productObj),
                    contentType : "application/json",
                    beforeSend	: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success : function(data) {
                        alert(data);

                        location.reload();
                    },
                    error   : function (e) {
                        alert("상품 정보를 적절하게 입력하세요.");
                    }
                })
            }
        }

        var eventCbObj  = {

            selectBoxCbFn   : function() {
                var firstCatCd = $(this).val();

                $("#second-category-select-box option").remove();

                $.ajax({
                    type : "GET",
                    url : "/categories/first/" + firstCatCd + "/second",
                    contentType : "application/json",
                    beforeSend	: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success : function(data) {
                        if (data.length > 0) {
                            $.each(data, function(i, item) {
                                var option = "<option value=" + item.catCd + ">" +
                                    item.catNm + "</option>"

                                $("#second-category-select-box").append(option);
                            })
                        } else {
                            $("#second-category-select-box").append("<option value=''>없음</option>");
                        }
                    },
                    error   : function (e) {
                        alert(e.responseText);
                    }
                })
            }
        }

        $(function() {
            $("#first-category-select-box").change(eventCbObj.selectBoxCbFn);
        })
    </script>

    <div class="title-area">
        <h3>상품 등록</h3>
    </div>

    <div id="LAYER_Frame">
        <div id="ContentsArea">
            <div class="con-area">
                <ul id="PointTxt">
                    <li>* 표시된 부분은 필수 입력사항입니다.</li>
                </ul>
                <fieldset>
                    <legend>LAYER_상품등록</legend>
                    <div class="con-table">
                        <form id="menuRegistForm">
                            <table summary="LAYER_메뉴등록">
                                <caption>LAYER_상품등록</caption>
                                <colgroup>
                                    <col width="200" />
                                    <col />
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th scope="col" class="bor_top_style1">*상품명 <span class="point" title="상품명" /></th>
                                    <td class="bor_top_style1">
                                        <input type="text" id="product-name" name="product-name" class="input_txt" style="width:1000px;" placeholder="" title="상품명" maxlength="500"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col" class="bor_top_style1">*상품가격 <span class="point" title="상품가격" /></th>
                                    <td class="bor_top_style1">
                                        <input type="text" id="product-price" name="product-price" class="input_txt" style="width:180px;" placeholder="" title="상품가격" maxlength="50"/>원
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col" class="bor_top_style1">*타이틀 이미지 첨부 <span class="point" title="타이틀 이미지" /></th>
                                    <td class="bor_top_style1">
                                        <input type="file" id="product-title-image" name="product-title-image" class="upload-file" />
                                        <button type="button" id="uploadBtn" onclick="productRegistObj.productTitleImgUpload()">업로드</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col" class="bor_top_style1">*1차 카테고리 <span class="point" title="1차 카테고리" /></th>
                                    <td class="bor_top_style1">
                                        <select name="" id="first-category-select-box" class="input_select" title="1차 카테고리">
                                            <option value="">선택</option>
                                            <th:block th:if="${#lists.size(catList_L)} > 0" th:each="catList_L : ${catMapList.get('adminCatList')}">
                                                <th:block th:if="${catList_L.getCatLv() eq 1}">
                                                    <option th:data-id="${catList_L.getId()}" th:value="${catList_L.getCatCd()}" th:text="${catList_L.getCatNm()}"></option>
                                                </th:block>
                                            </th:block>
                                        </select>&nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col" class="bor_top_style1">*2차 카테고리 <span class="point" title="2차 카테고리" /></th>
                                    <td class="bor_top_style1">
                                        <select name="" id="second-category-select-box" class="input_select" title="2차 카테고리">
                                            <option value="">없음</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col" class="bor_top_style1">*재고 <span class="point" title="재고" /></th>
                                    <td class="bor_top_style1">
                                        <input type="text" id="product-total-count" name="product-total-count" class="input_txt" style="width:180px;" placeholder="" title="상품 타이틀 이미지" maxlength="50"/>개
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </fieldset>
            </div>
            <!--버튼_start-->
            <div class="txt-center pdt_25">
                <a href="javascript:void(0);" class="btn-wine-14" onclick="productRegistObj.registProduct();">저장</a>
                <a href="/adminProduct" class="btn-gray-14">이전으로</a>
            </div>
            <!--버튼_end-->
            <hr />
        </div>
    </div>
</div>
</html>
