<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin-layout}">

<div class="main-content" layout:fragment="content">
    <script th:inline="javascript">

        var paramArr = [[${param.productId}]],
            productId = paramArr[0];

        var adminSaleProductListObj = {

            getProductDiscountList : function() {
                $.ajax({
                    type : "GET",
                    url  : "/products/" + productId + "/discounts",
                    contentType : "application/json",
                    beforeSend : function (xhr) {
                        xhr.setRequestHeader(header, token)
                    },
                    success : function (data) {
                        var $saleListTarget = $("#admin-sale-list");
                        $saleListTarget.empty();

                        $(".product-name").text(data.productNm);

                        // 할인 리스트가 아예 없을 경우
                        if (!data.applyDiscountProduct && !data.NoApplyDiscountProductList) {
                            $saleListTarget.append("<tr><td colspan=\"5\">할인 리스트가 없습니다.</td></tr>")
                        }

                        // 현재 적용중인 할인 리스트가 있을 경우
                        if (data.applyDiscountProduct){
                            var applyDiscountProduct = data.applyDiscountProduct;

                            var applyDiscountProductTr = "<tr>" +
                                "<td class='color_wine'><strong>" + applyDiscountProduct.startDt + "</strong></td>" +
                                "<td class='color_wine'><strong>" + applyDiscountProduct.endDt + "</strong></td>" +
                                "<td class='color_wine'><strong>" + applyDiscountProduct.disPrc + "</strong></td>" +
                                "<td class='color_wine'><strong>Y</strong></td>" +
                                "<td><a href=\"javascript:;\" data-id='" + applyDiscountProduct.id + "' onclick='adminSaleProductListObj.removeSaleList(this)'>&times;</a></td>" +
                                "</tr>";

                            $saleListTarget.append(applyDiscountProductTr);
                        }

                        // 현재 적용중이지 않은 할인 리스트가 있을 경우
                        if (data.NoApplyDiscountProductList) {
                            var noApplyDiscountProductList = data.NoApplyDiscountProductList;

                            noApplyDiscountProductList.forEach(function (element) {
                                var noApplyDiscountProductTr = "<tr>" +
                                    "<td>" + element.startDt + "</td>" +
                                    "<td>" + element.endDt + "</td>" +
                                    "<td>" + element.disPrc + "</td>" +
                                    "<td>N</td>" +
                                    "<td><a href=\"javascript:;\" data-id='" + element.id + "' onclick='adminSaleProductListObj.removeSaleList(this)'>&times;</a></td>" +
                                    "</tr>";

                                $saleListTarget.append(noApplyDiscountProductTr);
                            })
                        }
                    },
                    error   : function (e) {
                        alert(e.responseText);
                    }
                })
            },
            makeSaleList    : function () {
                var $startDt = $("input[name='dpStrtDt']"),
                    $endDt   = $("input[name='dpEndDt']"),
                    disPrc  = $("select[name='sale-percent-select-box']").val();

                var startDt = $startDt.datepicker("getDate"),
                    realStartDt = new Date(startDt.setDate(startDt.getDate() + 1));
                var endDt   = $endDt.datepicker("getDate"),
                    realEndDt = new Date(endDt.setDate(endDt.getDate() + 1));

                if ($startDt.val() === "" || $endDt.val() === "" || disPrc === "") {
                    alert("비어있는 곳이 있습니다");
                    return;
                }

                var dataObj = {};
                dataObj.productId = productId;
                dataObj.startDt = realStartDt;
                dataObj.endDt = realEndDt;
                dataObj.disPrc = disPrc;

                $.ajax({
                    type : "POST",
                    url  : "/discounts",
                    contentType : "application/json",
                    data : JSON.stringify(dataObj),
                    beforeSend : function (xhr) {
                        xhr.setRequestHeader(header, token)
                    },
                    success : function (data) {
                        alert(data);

                        location.reload();
                    },
                    error   : function (e) {
                        alert(e.responseText);
                    }
                })
            },
            removeSaleList  : function (obj) {
                var confirmChk = confirm("정말로 삭제하시겠습니까?");

                if (confirmChk) {
                    $.ajax({
                        type : "DELETE",
                        url  : "/discounts/" + $(obj).data("id"),
                        contentType : "application/json",
                        beforeSend : function (xhr) {
                            xhr.setRequestHeader(header, token)
                        },
                        success : function (data) {
                            alert(data);

                            location.reload();
                        },
                        error   : function (e) {
                            alert(e.responseText);
                        }
                    })
                }
            },
            movePrevPage : function () {
                location.href = "/adminProductDetails?productId=" + productId;
            }
        }

        $(function () {
            adminSaleProductListObj.getProductDiscountList();
        })
    </script>

    <!-- 할인 리스트 등록 모달창 -->
    <div class="modal fade bs-sale-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="saleModalLabel">Add Sale List</h4>
                </div>
                <div class="modal-body">
                    <form id="sale-frm" name="sale-frm" class="sale-frm">
                        <div class="row">
                            <div class="form-group col-md-12">
                                세일 시작 날짜<br>
                                <div class="cal-wrap">
                                    <input type="text" name="dpStrtDt" class="ui-ipt"
                                           data-date="start" readonly>
                                    <button type="button" class="btn-cal">
                                        시작
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                세일 종료 날짜<br>
                                <div class="cal-wrap">
                                    <input type="text" name="dpEndDt" class="ui-ipt" data-date="end"
                                           readonly>
                                    <button type="button" class="btn-cal">
                                        종료
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                할인%<br>
                                <select name="sale-percent-select-box">
                                    <option value="5">5%</option><option value="10">10%</option>
                                    <option value="15">15%</option><option value="20">20%</option>
                                    <option value="25">25%</option><option value="30">30%</option>
                                    <option value="35">35%</option><option value="40">40%</option>
                                    <option value="45">45%</option><option value="50">50%</option>
                                    <option value="55">55%</option><option value="60">60%</option>
                                    <option value="65">65%</option><option value="70">70%</option>
                                    <option value="75">75%</option><option value="80">80%</option>
                                    <option value="85">85%</option><option value="90">90%</option>
                                    <option value="95">95%</option><option value="100">100%</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="adminSaleProductListObj.makeSaleList()">등록</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <div id="container">
        <!-- left_menu_start -->
        <!--<div id="left-navi">
            <h2><span>상품</span></h2>
            <ul id="lnb">
                <li class="lnb-on"><a href="#" class="color-white bold" title="상품">상품</a></li>
            </ul>
        </div>-->
        <hr />
        <!-- left_menu_end -->
        <!-- contents_start -->
        <div id="contents">
            <!-- contents_title_start -->
            <div class="title-area">
                <h3>상품 할인 관리 <span><h5>(*할인 날짜가 겹치면 할인률이 더 높은 리스트가 적용됩니다.)</h5></span></h3>
                <!-- navigation_start -->
                <div class="top_menu_nav">
                    HOME > 상품 > 할인관리
                </div>
                <!-- navigation_end -->
            </div>
            <!-- contents_title_end -->

            <!-- 가로스크롤게시판_start -->
            <div class="com_table_board">
                <!-- 게시판상단버튼및검색조회수선택콤보박스_end -->
                <div class="com_table_board-table scroll">
                    <div class="com_table_board-tit">
                        <p class="com_table_board-txt">상품명 : <span class="product-name color_wine"></span></p>
                        <div class="com_table_board-list">
                            <a class="btn-gray-14" href="#" onclick="" data-toggle="modal" data-target=".bs-sale-modal-sm">등록</a>
                        </div>
                    </div>
                    <table summary="상품 조회결과" class="tbl-fixed">
                        <caption>상품 조회결과</caption>
                        <colgroup>
                            <col width="150px" />
                            <col width="150px" />
                            <col width="60px" />
                            <col width="60px" />
                            <col width="60px" />
                        </colgroup>
                        <thead>
                        <tr>
                            <th>할인 시작날짜</th>
                            <th>할인 종료날짜</th>
                            <th>할인(%)</th>
                            <th>적용여부</th>
                            <th>삭제</th>
                        </tr>
                        </thead>
                        <tbody id="admin-sale-list">

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- 가로스크롤게시판_end -->

            <div class="txt-center pdt_25">
                <a href="#" class="btn-gray-14" onclick="adminSaleProductListObj.movePrevPage()">이전으로</a>
            </div>
        </div>
        <!-- contents_end -->
        <hr />
    </div>
</div>
</html>