<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin-layout}">

<div class="main-content" layout:fragment="content">
    <script th:inline="javascript">

        var secondCategoryObj = {

            secondCategoryRegistAction   : function () {

                var dataObj = {
                    catNm     : $("#second-catNm").val(),
                    upprCatCd : $("#categorySelectBox").val(),
                    useYn     : $("input[type='radio']").val()
                }

                if (dataObj.catNm === "" || dataObj.upprCatCd === "" || dataObj.useYn === "") {
                    alert("비어있는 곳이 존재합니다.")

                    return;
                }

                $.ajax({
                    type : "POST",
                    url  : "/categories/second",
                    contentType : "application/json",
                    data : JSON.stringify(dataObj),
                    beforeSend	: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success : function (data) {
                        alert(data);

                        $("#second-catNm").val("");
                    },
                    error   : function (e) {
                        alert(e.responseText);
                    }
                })
            }
        }

    </script>

    <div class="title-area">
        <h3>2차 카테고리 등록</h3>
    </div>

    <div id="LAYER_Frame">
        <div id="ContentsArea">
            <div class="con-area">
                <ul id="PointTxt">
                    <li>* 표시된 부분은 필수 입력사항입니다.</li>
                </ul>
                <fieldset>
                    <legend>LAYER_메뉴등록</legend>
                    <div class="con-table">
                        <form id="menuRegistForm">
                            <table summary="LAYER_메뉴등록">
                                <caption>LAYER_메뉴등록</caption>
                                <colgroup>
                                    <col width="200" />
                                    <col />
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th scope="col" class="bor_top_style1">*카테고리명 <span class="point" title="카테고리명" /></th>
                                    <td class="bor_top_style1">
                                        <input type="text" id="second-catNm" name="catNm" class="input_txt" style="width:180px;" placeholder="" title="카테고리명" maxlength="10"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col" class="bor_top_style1">*상위 카테고리명 <span class="point" title="카테고리명" /></th>
                                    <td class="bor_top_style1">
                                        <select id="categorySelectBox" name="categorySelectBox">
                                            <th:block th:if="${#lists.size(catList_L)} > 0" th:each="catList_L : ${catMapList.get('adminCatList')}">
                                                <th:block th:if="${catList_L.getCatLv() eq 1}">
                                                    <option th:value="${catList_L.getCatCd()}" th:text="${catList_L.getCatNm()}"></option>
                                                </th:block>
                                            </th:block>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col" class="bor_top_style1">*사용 여부 <span class="point" title="사용 여부" /></th>
                                    <td class="bor_top_style1">
                                        <input type="radio" id="second-useYn" name="useYn" class="input_radio" title="YES" checked="checked" value="Y"/> YES &nbsp;&nbsp;
                                        <input type="radio" id="second-useYn" name="useYn" class="input_radio" title="NO" value="N"/> NO
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </fieldset>
            </div>
            <!--버튼_start-->
            <div class="txt-center pdt_25">
                <a href="javascript:void(0);" class="btn-wine-14" onclick="secondCategoryObj.secondCategoryRegistAction();">저장</a>
                <a href="/admin" class="btn-gray-14">이전으로</a>
            </div>
            <!--버튼_end-->
            <hr />
        </div>
    </div>
</div>
</html>