<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}">

<div class="main-content" layout:fragment="content">

    <script th:inline="javascript">

        // 회원가입 스크립트
        // 유효성 체크 컨텍스트
        var validChk = {

            // 아이디 중복, 유효성 체크
            duplicateChkFn          : validCallback.duplicateChkFnCb,
            // 빈값 체크
            emptyChkFn              : validCallback.emptyChkFnCb,
            // 이메일 유효성 체크
            emailValidChkFn         : validCallback.emailValidChkFnCb,
            // 비밀번호 유효성 체크
            pwdValidChkFn           : validCallback.pwdValidChkFnCb,
            // 비밀번호 확인 유효성 체크
            pwdConfirmValidChkFn    : validCallback.pwdConfirmValidChkFnCb,
            // 입력 데이터 종합 유효성 체크
            registerValidChkFn      : validCallback.registerValidChkFnCb
        }

        var registerInput = {

            // 회원가입 완료
            registerSubmitFn	: function() {

                // 유효성 검사
                if (!validChk.registerValidChkFn()) {
                    return;
                }

                // 회원가입 폼 전송
                $("#registerFrm").submit();
            }
        }

        $(function() {

            // request에 담긴 데이터
            if ([[${errorMsg}]]) {
                alert([[${errorMsg}]]);
            }
            // 회원가입 완료 메시지
            if ([[${registerComplete}]]) {
                alert([[${registerComplete}]])
            }
        })
    </script>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#login-tab" data-toggle="tab">Login</a></li>
                        <li><a href="#register-tab" data-toggle="tab">Register</a></li>
                    </ul>
                    <!-- 로그인 -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active p-15" id="login-tab">
                            <h4 class="text-gray mt-0 pt-5"> 로그인</h4>
                            <hr>
                            <form name="login-form" class="clearfix" method="post">
                                <input type ="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="username">Identifier</label>
                                        <input id="username" name="username" th:value="${username}" class="form-control loginInput" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="password">Password</label>
                                        <input id="password" name="password" th:value="${password}" class="form-control loginInput" type="password">
                                    </div>
                                </div>
                                <div class="checkbox pull-left mt-15">
                                    <label for="remember-me">
                                        <input id="remember-me" name="remember-me" type="checkbox">
                                        아이디 기억하기 </label>
                                </div>
                                <div class="form-group pull-right mt-10">
                                    <button type="submit" class="btn btn-success btn-sm">Login</button>
                                </div>
                                <div class="clear text-center pt-10">
                                    <a class="text-theme-colored font-weight-600 font-12" href="#">비밀번호를 잊어 버리셨나요?</a>
                                </div>
                                <div class="clear text-center pt-10">
                                    <!--<a class="btn btn-dark btn-lg btn-block no-border mt-15 mb-15 btn_social" th:href="@{/oauth2/authorization/google}" data-bg-color="#3b5998">구글로 로그인</a>
                                    <a class="btn btn-dark btn-lg btn-block no-border mt-15 mb-15 btn_social" th:href="@{/oauth2/authorization/kakao}" data-bg-color="#f5cb42">카카오로 로그인</a>
                                    <a class="btn btn-dark btn-lg btn-block no-border mt-15 mb-15 btn_social" th:href="@{/oauth2/authorization/github}" data-bg-color="#bc42f5">깃헙으로 로그인</a>-->
                                </div>
                            </form>
                        </div>
                        <!-- 회원가입 -->
                        <div class="tab-pane fade in p-15" id="register-tab">
                            <form id="registerFrm" name="reg-form" class="register-form" method="post" th:action="@{/member}">
                                <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
                                <div class="icon-box mb-0 p-0">
                                    <a href="#" class="icon icon-bordered icon-rounded icon-sm pull-left mb-0 mr-10">
                                        <i class="pe-7s-users"></i>
                                    </a>
                                    <h4 class="text-gray pt-10 mt-0 mb-30">계정이 없으신가요? 얼른 가입하세요!</h4>
                                </div>
                                <hr>
                                <p class="text-gray">회원가입을 하실 경우 더 많은 서비스를 제공받을 수 있습니다.</p>
                                <p>* 표시가 있는 칸은 필수입니다.</p>
                                <hr>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>identifier*</label>
                                        <input id="register-identifier" name="identifier" data-name="아이디" class="form-control registrationInput" type="text" />
                                        <p class="text-gray">아이디는 영문/숫자 조합 6자리 ~ 12자리</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <button th:type="button" id="dupChkBtn" class="btn btn-success" th:onclick="validChk.duplicateChkFn()">아이디 중복체크</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Name*</label>
                                        <input id="register-name" name="name" data-name="이름" class="form-control registrationInput" type="text" maxlength="10" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="register-password">Password*</label>
                                        <input id="register-password" data-name="비밀번호" name="password" class="form-control registrationInput" type="password" />
                                        <p class="text-gray">비밀번호는 영문/숫자/특수문자 조합 8자리~15자리</p>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Re-enter Password*</label>
                                        <input id="register-passwordConfirm" data-name="비밀번호 확인" name="passwordConfirm"  class="form-control registrationInput" type="password" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Email Address*</label>
                                        <input id="register-email" name="email" data-name="이메일" class="form-control registrationInput" type="text" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="register-address">Road Address</label>
                                        <input id="register-address" data-name="도로명주소" name="roadAddr" class="form-control" type="text" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="register-buildingName">Building Name</label>
                                        <input id="register-buildingName" data-name="건물이름" name="buildingName" class="form-control" type="text" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="register-detailAddress">Detail Address</label>
                                        <input id="register-detailAddress" data-name="상세주소" name="detailAddr" class="form-control" type="text" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <button th:type="button" class="btn btn-success" th:onclick="registAddrObj.searchAddrFn()">우편번호 검색</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-blue btn-lg btn-block btn-success mt-15" type="button" onclick="registerInput.registerSubmitFn()">Register Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


</html>