<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="headFragment">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <!-- Page Title -->
        <title>Fancy Cart Admin Page</title>
        <!-- Favicon and Touch Icons -->
        <link href="images/shoppingcart.png" rel="shortcut icon" type="image/png">

        <link rel="stylesheet" type="text/css" href="css/import.css" />
        <link href="css/jquery-ui.min.css" rel="stylesheet" type="text/css">
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <script src="js/jquery-2.2.4.min.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery-plugin-collection.js"></script>

        <!-- 데이트 피커 js -->
        <script src="js/admin/datepicker.js"></script>
        <script src="js/datepicker/datepicker.js"></script>
        <script src="js/datepicker/datepicker.ko-KR.js"></script>
        <link rel="stylesheet" type="text/css" href="js/datepicker/datepicker.css" />
        <!-- csrf -->
        <meta name="_csrf" th:content="${_csrf.token}"><meta name="_csrf_header" th:content="${_csrf.headerName}">

        <script>
            var header = $("meta[name='_csrf_header']").attr("content");
            var token  = $("meta[name='_csrf']").attr("content");
        </script>
    </head>
</html>
