<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer id="footer" class="footer" data-bg-color="#152029" th:fragment="footerFragment">
    <div class="footer-bottom" data-bg-color="#253039">
        <div class="container pt-20 pb-20">
            <div class="row">
                <div class="col-md-6">
                    <p class="font-12 text-black-777 m-0">Copyright &copy;2017 ThemeMascot. All Rights Reserved</p>
                </div>
                <div class="col-md-6 text-right">
                    <div class="widget no-border m-0">
                        <ul class="list-inline sm-text-center mt-5 font-12">
                            <li>
                                <a href="#">FAQ</a>
                            </li>
                            <li>|</li>
                            <li>
                                <a href="#">Help Desk</a>
                            </li>
                            <li>|</li>
                            <li>
                                <a href="#">Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</html>