<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/simple-layout}">

<div class="main-content" layout:fragment="content">
    <!-- Section: home -->
    <section id="home" class="divider fullscreen bg-lightest">
        <div class="display-table text-center">
            <div class="display-table-cell">
                <div class="container pt-0 pb-0">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h1 class="font-150 text-theme-colored2 mt-0 mb-0"><i class="fa fa-map-signs text-gray-silver"></i>500!</h1>
                            <h2 class="mt-0">Oops! Server Error</h2>
                            <a class="btn btn-border btn-gray btn-transparent btn-circled" href="/">Return Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</html>
