<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}">

    <div class="main-content" layout:fragment="content">
        <script th:inline="javascript">

            var checkoutData = {
                userId: "",
                buyer_name : "",
                email : "",
                roadAddr : "",
                buildingName : "",
                detailAddr : "",
                orderName : "",
                amount : 0,
                deliveryMessage : "",
                userSavings : 0,
                useSavings : 0,
                cartId : []
            }

            var cartObj = {

                getCartList : function(obj) {
                    var userId = [[${session.user.getId()}]],
                        page = obj ? $(obj).data("page") : 1;

                    $.ajax({
                        type : "GET",
                        url  : "/users/" + userId + "/carts/" + page,
                        contentType : "application/json",
                        beforeSend	: function(xhr) {
                            xhr.setRequestHeader(header, token);
                        },
                        success : function(data) {
                            var checkoutPrice = 0;

                            if (data) {
                                var cartList = data.cartList.content,
                                    cartPagingDto = data.cartPagingDto,
                                    $cartTableBody = $(".cart-table-body"),
                                    $cartListPagination = $(".cart-list-pagination");

                                if (page === 1) {
                                    var representProductNm = cartList[0].product.productNm;

                                    if (data.cartIdList.length > 1) {
                                        checkoutData.orderName = representProductNm + " 외 " + (data.cartIdList.length - 1) + "건";
                                    } else {
                                        checkoutData.orderName = representProductNm;
                                    }
                                }

                                // 유저 정보는 모든 카트 정보에서 공통
                                checkoutData.userId = cartList[0].user.id;
                                checkoutData.buyer_name = cartList[0].user.name;
                                checkoutData.email = cartList[0].user.email;
                                checkoutData.roadAddr = cartList[0].user.roadAddr;
                                checkoutData.buildingName = cartList[0].user.buildingName;
                                checkoutData.detailAddr = cartList[0].user.detailAddr;

                                checkoutData.userSavings = cartList[0].user.savings;
                                $(".savings p.user-savings").text(checkoutData.userSavings + "원 보유 (5000원 이상 결제 시 사용가능)");

                                checkoutData.cartId = [];

                                data.cartIdList.forEach(function(element) {
                                    checkoutData.cartId.push(element);
                                })

                                $cartTableBody.empty();
                                $cartListPagination.empty();

                                checkoutPrice = data.checkoutPrice;

                                if (cartList.length > 0) {

                                    cartList.forEach(function(element) {
                                        var amount = Number(element.productCount) * Number(element.salePrice);

                                        var cartTr = "<tr class='cart_itme'>" +
                                            "<td class=\"product-remove\"><a data-cart-id='" + element.id + "' title=\"Remove this item\" class=\"remove\" href=\"#\" onclick='cartObj.removeCart(this)'>×</a></td>" +
                                            "<td class=\"product-thumbnail\"><a href='/productDetails?productId=" + element.product.id +  "'><img alt=\"member\" src='" + element.product.titleImg + "'></a></td>" +
                                            "<td class=\"product-name\"><a class=\"text-theme-colored\" href='/productDetails?productId=" + element.product.id +  "'>" + element.product.productNm + "</a>" +
                                            "<ul class=\"variation\">" +
                                            "</ul></td>" +
                                            "<td class=\"product-price\"><span class=\"amount\">" + element.salePrice + "</span></td>" +
                                            "<td class=\"product-price\"><span class=\"amount\">" + element.productCount + "</span></td>" +
                                            "<td class=\"product-subtotal\"><span class=\"amount\">" + amount + "</span></td>" +
                                            "</tr>"

                                        $cartTableBody.append(cartTr);
                                    })

                                    // 페이징 그리기
                                    // Prev 페이지
                                    if (cartPagingDto.scaleStartPage !== 1) {
                                        var prevLi =
                                            "<li><a data-page='" + cartPagingDto.prevPage + "' class='product-list-page' href='javascript:;' onclick='cartObj.getCartList(this)' aria-label='Previous'><span aria-hidden='true'>&laquo;</span></a></li>";

                                        $cartListPagination.append(prevLi);
                                    }

                                    // 중간 페이지
                                    for (var i = cartPagingDto.scaleStartPage; i <= cartPagingDto.scaleEndPage; i++) {
                                        var pageLi = "";

                                        if (cartPagingDto.page === i) {
                                            pageLi = "<li class='active'><a data-page='" + i + "' class='product-list-page' href='javascript:;' onclick='cartObj.getCartList(this)'>" + i + "</a></li>";
                                        } else {
                                            pageLi = "<li class=''><a data-page='" + i + "' class='product-list-page' href='javascript:;' onclick='cartObj.getCartList(this)'>" + i + "</a></li>";
                                        }

                                        $cartListPagination.append(pageLi);
                                    }

                                    // Next 페이지
                                    if (cartPagingDto.scaleEndPage !== cartPagingDto.totPage) {
                                        var nextLi =
                                            "<li><a data-page='" + cartPagingDto.nextPage + "' class='product-list-page' href='javascript:;' onclick='cartObj.getCartList(this)' aria-label='Next'><span aria-hidden='true'>&raquo;</span></a></li>"

                                        $cartListPagination.append(nextLi);
                                    }
                                }
                            } else {
                                $(".cart-table-body").append("<tr class='cart_itme'><td colspan=\"6\"><strong>장바구니가 비었습니다.</strong></td></tr>")
                            }
                            checkoutData.amount = checkoutPrice;
                            $("#checkout-price").text("결제금액 : " + checkoutPrice + "원");
                        },
                        error   : function(e) {
                            alert(e.responseText);
                        }
                    })
                },
                removeCart  : function(obj) {
                    var confirmChk = confirm("정말로 삭제하시겠습니까?");

                    if (confirmChk) {
                        var $obj = $(obj),
                            cartId = $obj.data("cartId");

                        $.ajax({
                            type : "DELETE",
                            url  : "/carts/" + cartId,
                            contentType : "application/json",
                            beforeSend  : function(xhr) {
                                xhr.setRequestHeader(header, token);
                            },
                            success : function(data) {
                                alert(data);

                                // cartObj.getCartList();
                                location.reload();
                            },
                            error   : function(e) {
                                alert(e.responseText);
                            }
                        })
                    }
                },
                checkoutFn  : function() {
                    var count = 0;

                    $(".addressDiv input").each(function () {
                        var $this = $(this),
                            text = $this.data("name");

                        if ($this.val() === ""){
                            alert(text + "은/는 필수 입력 값입니다.");

                            $this.focus();

                            count++;
                        }

                        if (count > 0)
                            return false;
                    })

                    if (count > 0) {
                        return;
                    }

                    // TODO: 상품의 재고 확인


                    var IMP = window.IMP; // 생략가능
                    IMP.init('imp69013622');

                    IMP.request_pay({
                        pg : 'kakaopay',
                        pay_method : 'card',
                        merchant_uid : new Date().getTime(),
                        name : checkoutData.orderName,
                        amount : checkoutData.amount,           // 상품 가격
                        buyer_email : checkoutData.email,
                        buyer_name : checkoutData.name,
                        buyer_addr : $("input[name='roadAddr']").val() + " " + $("input[name='buildingName']").val() + " " +  $("input[name='detailAddr']").val()
                    }, function(rsp) {
                        var msg = "";
                        if (rsp.success) {
                            var orderNumber = rsp.merchant_uid;
                            checkoutData.deliveryMessage = $("#delivery-message-area").val();

                            var paymentSuccessData = {
                                userId          : checkoutData.userId,
                                email           : checkoutData.email,
                                buyerName       : checkoutData.buyer_name,
                                orderNumber     : orderNumber,
                                orderName       : checkoutData.orderName,
                                deliveryMessage : checkoutData.deliveryMessage,
                                address         : $("input[name='roadAddr']").val() + " " + $("input[name='buildingName']").val() + " " +  $("input[name='detailAddr']").val(),
                                amount          : checkoutData.amount,
                                useSavings      : checkoutData.useSavings,
                                cartIdList      : checkoutData.cartId
                            }

                            $.ajax({
                                type : "POST",
                                url  : "/payment/success",
                                contentType : "application/json",
                                data        : JSON.stringify(paymentSuccessData),
                                beforeSend  : function(xhr) {
                                    xhr.setRequestHeader(header, token);
                                },
                                success     : function(data) {
                                    msg += data + '\n';
                                    msg += '주문번호 : ' + orderNumber + "\n";
                                    msg += '결제 금액 : ' + rsp.paid_amount;

                                    alert(msg);

                                    location.href = "/orders";
                                },
                                error       : function(e) {
                                    alert(e.responseText);
                                }
                            })
                        } else {
                            msg += '결제에 실패하였습니다.\n';
                            msg += '에러내용 : ' + rsp.error_msg;

                            alert(msg);
                        }
                    });
                },
                remainingFn   : function() {
                    // 댓글 사이즈 제한하기
                    $(".remaining").each(function() {
                        // count 정보 및 count 정보와 관련된 textarea/input 요소를 찾아내서 변수에 저장한다.
                        var $count = $(".count", this);
                        var $input = $(this).prev();
                        // .text()가 문자열을 반환하기에 이 문자를 숫자로 만들기 위해 1을 곱한다.
                        var maximumCount = $count.text() * 1;
                        // update 함수는 keyup, paste, input 이벤트에서 호출한다.
                        var update = function() {
                            var before = $count.text() * 1;
                            var now = maximumCount - $input.val().length;
                            // 사용자가 입력한 값이 제한 값을 초과하는지를 검사한다.
                            if (now < 0) {
                                var str = $input.val();
                                alert("글자 입력수가 초과하였습니다.");
                                $input.val(str.substr(0, maximumCount));
                                now = 0;
                            }
                            // 필요한 경우 DOM을 수정한다.
                            if (before !== now) {
                                $count.text(now);
                            }
                        };
                        // input, keyup, paste 이벤트와 update 함수를 바인드한다
                        $input.bind("input keyup paste", function() {
                            setTimeout(update, 0)
                        });
                        update();
                    });
                }
            }

            var cartListEventObj = {

                addressChkBoxFnCb : function(obj) {

                    if (obj.checked) {
                        $("input[name='roadAddr']").val(checkoutData.roadAddr);
                        $("input[name='buildingName']").val(checkoutData.buildingName);
                        $("input[name='detailAddr']").val(checkoutData.detailAddr);
                    } else {
                        $(".addressDiv input").val("");
                    }
                },
                savingsUseFn    : function () {
                    var $savingsTarget = $("#savings"),
                        savings = $savingsTarget.val(),
                        userSavings = Number($("#checkout-price").text().substring(7).split("원")[0]),
                        $userSavingsTarget = $(".savings p.user-savings");

                    if (savings === "") {
                        alert("적립금으로 사용하실 금액을 적어주세요.");
                        return;
                    }
                    if (savings > Number($userSavingsTarget.text().split("원")[0])) {
                        alert("보유중인 적립금보다 많은 적립금을 사용할 수 없습니다.");
                        return;
                    }
                    if (userSavings < 5000) {
                        alert("5000원 이상 결제 시 적립금 사용이 가능합니다.")
                        return;
                    }

                    $savingsTarget.attr("disabled", true);

                    var remainSavings = Number($userSavingsTarget.text().split("원")[0]) - Number(savings);

                    $userSavingsTarget.text(remainSavings + "원 보유 (5000원 이상 결제 시 사용가능)");

                    checkoutData.amount = userSavings - Number(savings);
                    $("#checkout-price").text("결제금액 : " + checkoutData.amount + "원");

                    checkoutData.useSavings = savings;
                },
                savingsCancelFn : function () {
                    var $savingsTarget = $("#savings");

                    $savingsTarget.val("");
                    $(".savings p.user-savings").text(checkoutData.userSavings + "원 보유 (5000원 이상 결제 시 사용가능)");
                    $savingsTarget.removeAttr("disabled");

                    checkoutData.amount += Number(checkoutData.useSavings);
                    $("#checkout-price").text("결제금액 : " + checkoutData.amount + "원");

                    checkoutData.useSavings = 0;
                }
            }

            $(function() {
                cartObj.getCartList();

                cartObj.remainingFn();
            })
        </script>

        <section>
            <div class="container">
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <h2>Cart List</h2>
                            <p>일주일이 지나면 장바구니에 저장된 데이터는 모두 사라집니다.</p>
                            <hr>
                            <table class="table table-striped table-bordered tbl-shopping-cart">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Photo</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                </tr>
                                </thead>
                                <tbody class="cart-table-body">

                                </tbody>

                            </table>
                            <div class="col-md-12">
                                <nav>
                                    <ul class="pagination cart-list-pagination theme-skin-green mt-0">

                                    </ul>
                                </nav>
                            </div>
                            <form id="registerFrm" name="reg-form" class="register-form" method="post" th:action="@{/member}">
                                <h2>Address</h2>
                                <input type="checkbox" name="addressChkBox" id="addressChkBox" onclick="cartListEventObj.addressChkBoxFnCb(this)"/>프로필 정보 가져오기
                                <hr>
                                <div class="row addressDiv">
                                    <div class="form-group col-md-6">
                                        <label for="register-address">Road Address</label>
                                        <input id="register-address" data-name="도로명주소" name="roadAddr" class="form-control" type="text" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="register-buildingName">Building Name</label>
                                        <input id="register-buildingName" data-name="건물이름" name="buildingName" class="form-control" type="text" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="register-detailAddress">Detail Address</label>
                                        <input id="register-detailAddress" data-name="상세주소" name="detailAddr" class="form-control" type="text" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <button th:type="button" class="btn btn-success" th:onclick="registAddrObj.searchAddrFn()">우편번호 검색</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        배송 메세지(선택사항)<br>
                                        <textarea class="form-control" rows="2" name="message" id="delivery-message-area"></textarea>
                                        <div class="remaining">남은 글자수: <span class="count">200</span></div>
                                    </div>
                                </div>
                            </form>
                            <hr>
                            <h2>Checkout</h2>
                            <table class="table table-striped table-bordered tbl-shopping-cart">
                                <tbody>
                                    <tr class="cart_item">
                                        <td colspan="3">
                                            <div class="coupon">
                                                <label for="cart-coupon">Coupon: </label>
                                                <input id="cart-coupon" type="text" placeholder="Coupon code" value="" name="coupon_code">
                                                <button type="button" class="btn btn-success">쿠폰 적용</button>
                                            </div>
                                        </td>
                                        <td colspan="3">
                                            <div class="savings">
                                                <label for="savings">적립금:  </label>
                                                <input id="savings" type="text" placeholder="0" value="">원
                                                <button type="button" class="btn btn-success" onclick="cartListEventObj.savingsUseFn()">사용</button>
                                                <button type="button" class="btn btn-success" onclick="cartListEventObj.savingsCancelFn()">취소</button>
                                                <p class="user-savings"></p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="cart_item">
                                        <td colspan="3">

                                        </td>
                                        <td id="checkout-price" colspan="2"></td>
                                        <td><button type="button" class="btn pull-right btn-success" onclick="cartObj.checkoutFn()">결제하기</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end main-content -->
    </div>

</html>
