<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:replace="fragments/admin-head :: headFragment"></head>
    <body>
        <div id="wrapper" class="clearfix">
            <!-- preloader -->
            <!--<div id="preloader">
                <div id="spinner">
                    <div class="col-md-2">
                        <div class="preloader-battery">
                            <div class="cssload-liquid"></div>
                        </div>
                    </div>
                </div>
            </div>-->

            <header th:replace="fragments/admin-header :: headerFragment"></header>

            <div layout:fragment="content"></div>

            <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
        </div>
    </body>
</html>