/*
Gradient Skin
*/

/* Menu container */
.menuzord{
	background: #fbfbfb;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fbfbfb 0%, #f2f2f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#f2f2f2));
	background: -webkit-linear-gradient(top,  #fbfbfb 0%,#f2f2f2 100%);
	background: -o-linear-gradient(top,  #fbfbfb 0%,#f2f2f2 100%);
	background: -ms-linear-gradient(top,  #fbfbfb 0%,#f2f2f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f2f2f2',GradientType=0 );
}

/* Active/hover state (Menu items) */
.menuzord-menu > li.active > a,
.menuzord-menu > li:hover > a{
	background: #f5f5f5;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGUwZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f5f5f5 0%, #e0e0e0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e0e0e0));
	background: -webkit-linear-gradient(top,  #f5f5f5 0%,#e0e0e0 100%);
	background: -o-linear-gradient(top,  #f5f5f5 0%,#e0e0e0 100%);
	background: -ms-linear-gradient(top,  #f5f5f5 0%,#e0e0e0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e0e0e0',GradientType=0 );
}

/* Hover state (dropdown items) */
.menuzord-menu ul.dropdown li:hover > a{
	background: #f5f5f5;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGUwZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f5f5f5 0%, #e0e0e0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e0e0e0));
	background: -webkit-linear-gradient(top,  #f5f5f5 0%,#e0e0e0 100%);
	background: -o-linear-gradient(top,  #f5f5f5 0%,#e0e0e0 100%);
	background: -ms-linear-gradient(top,  #f5f5f5 0%,#e0e0e0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e0e0e0',GradientType=0 );
}

/* Search field */
.menuzord-menu > li.search form input[type="text"]{
	background: #e0e0e0;
}

/* Color schemes */
/* blue */
.menuzord.blue { 
	background: #5d9cec;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVkOWNlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YTg5ZGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #5d9cec 0%, #4a89dc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5d9cec), color-stop(100%,#4a89dc));
	background: -webkit-linear-gradient(top,  #5d9cec 0%,#4a89dc 100%);
	background: -o-linear-gradient(top,  #5d9cec 0%,#4a89dc 100%);
	background: -ms-linear-gradient(top,  #5d9cec 0%,#4a89dc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d9cec', endColorstr='#4a89dc',GradientType=0 );
}
.menuzord.blue .menuzord-brand{ color: #fff; }
.menuzord.blue .menuzord-menu > li > a{ color: #fff; }
.menuzord.blue .menuzord-menu > li.active > a, 
.menuzord.blue .menuzord-menu > li:hover > a, 
.menuzord.blue .menuzord-menu ul.dropdown li:hover > a{ 
	background: #418ae9;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQxOGFlOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMTc5ZDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #418ae9 0%, #3179d7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#418ae9), color-stop(100%,#3179d7));
	background: -webkit-linear-gradient(top,  #418ae9 0%,#3179d7 100%);
	background: -o-linear-gradient(top,  #418ae9 0%,#3179d7 100%);
	background: -ms-linear-gradient(top,  #418ae9 0%,#3179d7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#418ae9', endColorstr='#3179d7',GradientType=0 );
	color: #fff;
}
.menuzord.blue .showhide em{
	background: #f0f0f0;
}
.menuzord.blue .menuzord-menu > li.search form:before{
	color: #fff;
}
.menuzord.blue .menuzord-menu > li.search form input[type="text"]{
	background: #3179d7;
	color: #fff;
}
/* green */
.menuzord.green { 
	background: #5cb85c;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ4Y2ZhZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzN2JjOWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #5cb85c 0%, #37bc9b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5cb85c), color-stop(100%,#37bc9b));
	background: -webkit-linear-gradient(top,  #5cb85c 0%,#37bc9b 100%);
	background: -o-linear-gradient(top,  #5cb85c 0%,#37bc9b 100%);
	background: -ms-linear-gradient(top,  #5cb85c 0%,#37bc9b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48cfad', endColorstr='#37bc9b',GradientType=0 );
}
.menuzord.green .menuzord-brand{ color: #fff; }
.menuzord.green .menuzord-menu > li > a{ color: #fff; }
.menuzord.green .menuzord-menu > li.active > a, 
.menuzord.green .menuzord-menu > li:hover > a, 
.menuzord.green .menuzord-menu ul.dropdown li:hover > a{
	background: #34c8a3;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM0YzhhMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMmFhOGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #34c8a3 0%, #32aa8c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#34c8a3), color-stop(100%,#32aa8c));
	background: -webkit-linear-gradient(top,  #34c8a3 0%,#32aa8c 100%);
	background: -o-linear-gradient(top,  #34c8a3 0%,#32aa8c 100%);
	background: -ms-linear-gradient(top,  #34c8a3 0%,#32aa8c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34c8a3', endColorstr='#32aa8c',GradientType=0 );
	color: #fff;
}
.menuzord.green .showhide em{
	background: #f0f0f0;
}
.menuzord.green .menuzord-menu > li.search form:before{
	color: #fff;
}
.menuzord.green .menuzord-menu > li.search form input[type="text"]{
	background: #32aa8c;
	color: #fff;
}
/* red */
.menuzord.red { 
	background: #fc6e51;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjNmU1MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOTU3M2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fc6e51 0%, #e9573f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc6e51), color-stop(100%,#e9573f));
	background: -webkit-linear-gradient(top,  #fc6e51 0%,#e9573f 100%);
	background: -o-linear-gradient(top,  #fc6e51 0%,#e9573f 100%);
	background: -ms-linear-gradient(top,  #fc6e51 0%,#e9573f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc6e51', endColorstr='#e9573f',GradientType=0 );
}
.menuzord.red .menuzord-brand{ color: #fff; }
.menuzord.red .menuzord-menu > li > a{ color: #fff; }
.menuzord.red .menuzord-menu > li.active > a, 
.menuzord.red .menuzord-menu > li:hover > a, 
.menuzord.red .menuzord-menu ul.dropdown li:hover > a{ 
	background: #fb5231;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiNTIzMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNjNlMjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fb5231 0%, #e63e24 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb5231), color-stop(100%,#e63e24));
	background: -webkit-linear-gradient(top,  #fb5231 0%,#e63e24 100%);
	background: -o-linear-gradient(top,  #fb5231 0%,#e63e24 100%);
	background: -ms-linear-gradient(top,  #fb5231 0%,#e63e24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb5231', endColorstr='#e63e24',GradientType=0 );
	color: #fff;
}
.menuzord.red .showhide em{
	background: #f0f0f0;
}
.menuzord.red .menuzord-menu > li.search form:before{
	color: #fff;
}
.menuzord.red .menuzord-menu > li.search form input[type="text"]{
	background: #e63e24;
	color: #fff;
}
/* orange */
.menuzord.orange { 
	background: #ff670f;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNjcwZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkODRmMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ff670f 0%, #d84f00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff670f), color-stop(100%,#d84f00));
	background: -webkit-linear-gradient(top,  #ff670f 0%,#d84f00 100%);
	background: -o-linear-gradient(top,  #ff670f 0%,#d84f00 100%);
	background: -ms-linear-gradient(top,  #ff670f 0%,#d84f00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff670f', endColorstr='#d84f00',GradientType=0 );
}
.menuzord.orange .menuzord-brand{ color: #fff; }
.menuzord.orange .menuzord-menu > li > a{ color: #fff; }
.menuzord.orange .menuzord-menu > li.active > a, 
.menuzord.orange .menuzord-menu > li:hover > a, 
.menuzord.orange .menuzord-menu ul.dropdown li:hover > a{ 
	background: #f45900;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0NTkwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMjQ3MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f45900 0%, #c24700 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f45900), color-stop(100%,#c24700));
	background: -webkit-linear-gradient(top,  #f45900 0%,#c24700 100%);
	background: -o-linear-gradient(top,  #f45900 0%,#c24700 100%);
	background: -ms-linear-gradient(top,  #f45900 0%,#c24700 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f45900', endColorstr='#c24700',GradientType=0 );
	color: #fff;
}
.menuzord.orange .showhide em{
	background: #f0f0f0;
}
.menuzord.orange .menuzord-menu > li.search form:before{
	color: #fff;
}
.menuzord.orange .menuzord-menu > li.search form input[type="text"]{
	background: #c24700; 
	color: #fff;
}
/* yellow */
.menuzord.yellow { 
	background: #ffce54;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmY2U1NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmJiNDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffce54 0%, #f6bb42 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffce54), color-stop(100%,#f6bb42));
	background: -webkit-linear-gradient(top,  #ffce54 0%,#f6bb42 100%);
	background: -o-linear-gradient(top,  #ffce54 0%,#f6bb42 100%);
	background: -ms-linear-gradient(top,  #ffce54 0%,#f6bb42 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffce54', endColorstr='#f6bb42',GradientType=0 );
}
.menuzord.yellow .menuzord-brand{ color: #fff; }
.menuzord.yellow .menuzord-menu > li > a{ color: #fff; }
.menuzord.yellow .menuzord-menu > li.active > a, 
.menuzord.yellow .menuzord-menu > li:hover > a, 
.menuzord.yellow .menuzord-menu ul.dropdown li:hover > a{ 
	background: #ffc533;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYzUzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWFmMjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffc533 0%, #f5af23 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc533), color-stop(100%,#f5af23));
	background: -webkit-linear-gradient(top,  #ffc533 0%,#f5af23 100%);
	background: -o-linear-gradient(top,  #ffc533 0%,#f5af23 100%);
	background: -ms-linear-gradient(top,  #ffc533 0%,#f5af23 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc533', endColorstr='#f5af23',GradientType=0 );
	color: #fff;
}
.menuzord.yellow .showhide em{
	background: #f0f0f0;
}
.menuzord.yellow .menuzord-menu > li.search form:before{
	color: #fff;
}
.menuzord.yellow .menuzord-menu > li.search form input[type="text"]{
	background: #f5af23;
	color: #fff;
}
/* purple */
.menuzord.purple { 
	background: #ac92ec;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FjOTJlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NjdhZGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ac92ec 0%, #967adc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ac92ec), color-stop(100%,#967adc));
	background: -webkit-linear-gradient(top,  #ac92ec 0%,#967adc 100%);
	background: -o-linear-gradient(top,  #ac92ec 0%,#967adc 100%);
	background: -ms-linear-gradient(top,  #ac92ec 0%,#967adc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac92ec', endColorstr='#967adc',GradientType=0 );
}
.menuzord.purple .menuzord-brand{ color: #fff; }
.menuzord.purple .menuzord-menu > li > a{ color: #fff; }
.menuzord.purple .menuzord-menu > li.active > a, 
.menuzord.purple .menuzord-menu > li:hover > a, 
.menuzord.purple .menuzord-menu ul.dropdown li:hover > a{ 
	background: #9372e6;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkzNzJlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MDVmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #9372e6 0%, #805fd5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9372e6), color-stop(100%,#805fd5));
	background: -webkit-linear-gradient(top,  #9372e6 0%,#805fd5 100%);
	background: -o-linear-gradient(top,  #9372e6 0%,#805fd5 100%);
	background: -ms-linear-gradient(top,  #9372e6 0%,#805fd5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9372e6', endColorstr='#805fd5',GradientType=0 );
	color: #fff;
}
.menuzord.purple .showhide em{
	background: #f0f0f0;
}
.menuzord.purple .menuzord-menu > li.search form:before{
	color: #fff;
}
.menuzord.purple .menuzord-menu > li.search form input[type="text"]{
	background: #805fd5;
	color: #fff;
}
/* pink */
.menuzord.pink { 
	background: #ec87c0;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjODdjMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNzcwYWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ec87c0 0%, #d770ad 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec87c0), color-stop(100%,#d770ad));
	background: -webkit-linear-gradient(top,  #ec87c0 0%,#d770ad 100%);
	background: -o-linear-gradient(top,  #ec87c0 0%,#d770ad 100%);
	background: -ms-linear-gradient(top,  #ec87c0 0%,#d770ad 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec87c0', endColorstr='#d770ad',GradientType=0 );
}
.menuzord.pink .menuzord-brand{ color: #fff; }
.menuzord.pink .menuzord-menu > li > a{ color: #fff; }
.menuzord.pink .menuzord-menu > li.active > a, 
.menuzord.pink .menuzord-menu > li:hover > a, 
.menuzord.pink .menuzord-menu ul.dropdown li:hover > a{ 
	background: #e767b0;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3NjdiMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMDU2OWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #e767b0 0%, #d0569f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e767b0), color-stop(100%,#d0569f));
	background: -webkit-linear-gradient(top,  #e767b0 0%,#d0569f 100%);
	background: -o-linear-gradient(top,  #e767b0 0%,#d0569f 100%);
	background: -ms-linear-gradient(top,  #e767b0 0%,#d0569f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e767b0', endColorstr='#d0569f',GradientType=0 );
	color: #fff;
}
.menuzord.pink .showhide em{
	background: #f0f0f0;
}
.menuzord.pink .menuzord-menu > li.search form:before{
	color: #fff;
}
.menuzord.pink .menuzord-menu > li.search form input[type="text"]{
	background: #d0569f;
	color: #fff;
}

/* Mobile mode (Responsive mode) */
@media (max-width: 900px){
	/* Menu items */
	.menuzord-responsive .menuzord-menu > li > a,
	.menuzord-responsive .menuzord-menu > li:first-child > a{
		padding: 12px 20px !important;
		border-color: #dedede;
	}
	
	/* Dropdown/megamenu indicators */
	.menuzord-responsive .menuzord-menu > li > a .indicator{
		border-color: #dedede;
	}
	
	/* Color schemes */
	/* blue */
	.menuzord.blue.menuzord-responsive .menuzord-menu > li > a,
	.menuzord.blue.menuzord-responsive .menuzord-menu > li > a .indicator{
		border-color: #5D9CEC !important;
	}
	/* green */
	.menuzord.green.menuzord-responsive .menuzord-menu > li > a,
	.menuzord.green.menuzord-responsive .menuzord-menu > li > a .indicator{
		border-color: #5cb85c !important;
	}
	/* red */
	.menuzord.red.menuzord-responsive .menuzord-menu > li > a,
	.menuzord.red.menuzord-responsive .menuzord-menu > li > a .indicator{
		border-color: #FC6E51 !important;
	}
	/* orange */
	.menuzord.orange.menuzord-responsive .menuzord-menu > li > a,
	.menuzord.orange.menuzord-responsive .menuzord-menu > li > a .indicator{
		border-color: #ff853f !important;
	}
	/* yellow */
	.menuzord.yellow.menuzord-responsive .menuzord-menu > li > a,
	.menuzord.yellow.menuzord-responsive .menuzord-menu > li > a .indicator{
		border-color: #FFCE54 !important;
	}
	/* purple */
	.menuzord.purple.menuzord-responsive .menuzord-menu > li > a,
	.menuzord.purple.menuzord-responsive .menuzord-menu > li > a .indicator{
		border-color: #AC92EC !important;
	}
	/* pink */
	.menuzord.pink.menuzord-responsive .menuzord-menu > li > a,
	.menuzord.pink.menuzord-responsive .menuzord-menu > li > a .indicator{
		border-color: #EC87C0 !important;
	}
}