<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <header id="header" class="header modern-header modern-header-theme-colored" th:fragment="headerFragment">
        <script th:inline="javascript">

        </script>

        <!-- head-global_start -->
        <div class="head-global">
            <h3><a href="/admin">관리자 화면입니다. </a><strong class="pull-right"><a href="/logout"> / 로그아웃</a></strong><strong class="pull-right"><a href="/">홈으로 </a></strong></h3>
        </div>
        <!-- head-global_end -->
        <!-- top-menu_start -->
        <div class="head-navi">
            <h2 class="skip">주메뉴</h2>
            <ul id="gnb">
                <li id="banner"><a href="/admin" title="메뉴관리 바로가기">메뉴관리</a></li>
                <li id="menu"><a href="/adminProduct" title="상품관리 바로가기">상품관리</a></li>
            </ul>
        </div>
        <!-- top-menu_end -->
    </header>
</html>